.card p { text-align: justify;}
.resources .erm ul li {width: 100%;}
.phonetext { text-decoration: underline; font-weight: 400;}
.slider-item {-webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); left: 0;}

.timeline .card { box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);}
.products .resources ul li.disabled {display: none !important;}

#show_funds tbody tr,
.key-table tbody tr,
.fund-table tbody tr,
table- tbody tr {border-right: 1px solid #71a7b9; }
#news_table {border-right: 0; }

.footer.lower {padding: 30px;}
.single ul li .lower-li ul li {margin-top: 20px;}

.invert { -ms-filter: invert(100%);}
.subnav.active-bar {border: 0;}

.contactpage tr {border-right: 0 !important;}
.contactpage .bg-gray tr:first-child { padding-top: 20px;}
.contactpage .bg-gray tr:last-child { padding-bottom: 20px;}

.segmenter--- {border: 1px solid red;}

.products.private_mandate p, 
.about p,
.about .description ul li,
.single p {text-align: justify;}

.no-result {font-family: 'Lato', sans-serif; text-align: center; margin: 30px; box-sizing: border-box;}

#datepicker, #datepicker2, .ui-datepicker {z-index: 100 !important; }