﻿.expandable-div-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    clip: auto;
    display: block;
}

.expandable-div-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20%;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: default;
    display: block;
    vertical-align: middle;
}
