/*Begin: Global CSS definitions*/
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

img {
    position: relative;
    z-index: 1;
    border: 0;
}

a, a:hover {
    text-decoration: none;
    color: #3c96b7;
}

p {
    white-space: normal;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', arial, sans-serif;
}

a, p, li, input {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 26px
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}

table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 40px;
}

tr {
    font-family: 'Lato', arial, sans-serif;
    font-size: 15px;
}

    tr th {
        font-weight: 800;
        background: #71a7b9;
        padding: 10px;
        color: white;
    }

    tr td {
        font-weight: 400;
        border: solid 1px #86c3d8;
        padding: 10px;
    }

.hidden {
    display: none !important;
}

.desktop-hidden {
    display: none;
}

.mobile-hidden {
    display: inline;
}

.table-mobile-row-hide {
    display: table-row !important;
}

.table-mobile-cell-hide {
    display: table-cell !important;
}

.table-desktop-hide {
    display: none;
}

.clear_both {
    clear: both;
}

.content {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    clear: both;
}

    .content h3 {
        text-align: center;
        padding-top: 70px;
        margin-top: 0;
        color: #14044c;
        margin-bottom: 10px;
    }

    .content.narrow {
        max-width: 1280px;
    }

        .content.narrow .narrow-copy {
            margin-bottom: 10px;
        }

    .content.first {
        padding-top: 100px;
    }

.rounded-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 8px 28px;
}

.box-pointer {
    position: absolute;
    top: -8px;
    right: 20px;
}

.bg-gray-container {
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin: 0 auto;
}

.close-btn {
    width: 25px;
    height: auto;
    right: 20px;
    top: 20px;
    position: fixed;
    float: right; /*-webkit-filter: invert(100%);filter: invert(100%);*/
}

.animate {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.flipV {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.header-content .apex-line {
    width: 105px;
    height: auto;
    position: relative;
    margin-top: 40px;
}

.float-right {
    float: right;
}

.left, .right {
    position: relative;
    display: inline-block;
    border-collapse: collapse;
    width: 50%;
    height: auto;
    vertical-align: top;
    box-sizing: border-box;
}

.underline {
    width: 90%;
    height: 1px;
    background: #414141;
    opacity: 0.20;
    margin: 0 auto;
}

.text-with-icon {
    vertical-align: middle;
    display: block;
    margin-bottom: 20px;
}

    .text-with-icon img {
        margin-left: 10px;
        vertical-align: middle;
    }

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.inline {
    display: inline-block;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.file-icon {
    width: auto;
    height: 36px;
}

.plus-minus {
    height: 20px;
    width: auto;
    margin-top: -4px;
}

.round-up-down {
    width: 36px;
    height: auto;
}

.error {
    color: red;
    float: right;
}

.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: not-allowed;
    pointer-events: none;
}

    .disabled a {
        pointer-events: none !important;
    }

.f20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.bg-white {
    background: white !important;
}

.bg-dark-blue {
    background: #263048 !important;
}

.bg-light-blue {
    background: #3c96b7 !important;
}

.bg-gray {
    background: #f8f9f9 !important;
}

.bg-transparent {
    background: transparent !important;
}

.font-white {
    color: white !important;
}

.font-black {
    color: black !important;
}

.font-gray {
    color: #b2b2b2 !important;
}

.font-light-blue {
    color: #3c96b7 !important;
}

.header-content.bg-dark-blue {
    height: 100%;
    max-height: 72%;
}

/*start backgrounds*/
.ourvalues .header-content.wide-image,
.financialposition .header-content.wide-image,
.profile .header-content.wide-image,
.people .header-content.wide-image {
    background: url('../img/headers/APEX_Header_aboutus.jpg')no-repeat center;
    background-size: cover;
    height: 450px;
}

.invest .header-content.wide-image {
    background: url('../img/headers/APEX_Header_investwithapex.jpg')no-repeat center;
    background-size: cover;
    height: 450px;
}

.products .header-content.wide-image {
    background: url('../img/headers/APEX_Header_ourproducts.jpg')no-repeat center;
    background-size: cover;
    height: 450px;
}

.resources .header-content.wide-image {
    background: url('../img/headers/APEX_Header_news.jpg')no-repeat center;
    background-size: cover;
    height: 450px;
}

.contact .header-content.wide-image {
    background: url('../img/contact/header.jpg')no-repeat bottom center;
    background-size: cover;
    height: 450px;
}
/*end backgrounds*/

.main-nav-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30; /*box-shadow: 0px 0px 80px -25px black;*/
}

.nav-bg {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 9;
    opacity: 0;
}

.nav-bg-left {
    width: 50%;
    height: 80px;
    left: 0;
    top: 0;
    position: absolute;
}

.main-nav {
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    max-width: 1280px;
}

.nav-left {
    width: 200px;
    height: 80px;
    position: relative;
    /*overflow-x: hidden;*/
    float: left;
}

.nav-right {
    width: calc(100% - 200px);
    height: 80px;
    position: relative;
    overflow-x: hidden;
    float: right;
}

.nav-left-bg {
    width: 200px;
    height: 80px;
    position: absolute;
    -ms-transform: skewX(-30deg) translate(-24px,0);
    -webkit-transform: skewX(-30deg) translate(-24px,0);
    transform: skewX(-30deg) translate(-24px,0);
    z-index: 0;
}

.nav-logo {
    top: 0px;
    left: 20px;
    mix-blend-mode: multiply;
    width: 180px;
    height: auto;
}

.main-nav ul {
    margin-top: 35px;
    text-align: center;
}

    .main-nav ul li {
        list-style: none;
        display: inline-block;
        width: auto;
        text-align: center;
        height: 24px;
        vertical-align: middle;
        margin: -10px 3% 0 3%;
    }

        .main-nav ul li:last-child {
            border-left: 1px solid #51596d;
            padding: 0 0 0 3%;
            margin: -10px 3% 0 0;
        }

.nav-right a, .nav-right a:hover {
    color: white;
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding-top: 7px;
    display: block;
}

.nav-hover {
    width: 5px;
    height: 5px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
    margin: 8px auto 0 auto;
    opacity: 0;
    filter: alpha(opacity=0);
}

.main-nav a:hover ~ .nav-hover, .main-nav a.active + .nav-hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.5s ease;
}

.nav-right ul li a#nav-login > img {
    margin-right: 14px;
    margin-top: -8px;
    vertical-align: -webkit-baseline-middle;
}

.nav-right ul li a.expandable img {
    margin-left: 8px;
    width: 10px;
    height: 10px;
    margin-top: 0px;
    vertical-align: middle;
    float: right;
    top: initial;
    position: absolute;
}

.expanded-nav {
    width: 100%;
    height: 360px;
    position: absolute;
    top: -560px;
    margin-top: 0px;
    padding-top: 80px;
    z-index: 8;
    box-shadow: 0px 0px 80px -25px black;
    box-sizing: border-box;
}

.expanded-nav-content {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    white-space: nowrap;
    max-width: 1280px;
}

.expanded-nav-columns {
    width: 24%;
    height: 200px;
    position: relative;
    display: inline-block;
    background: none;
    padding: 0 1%;
    vertical-align: middle;
    box-sizing: border-box;
}

    .expanded-nav-columns a {
        white-space: normal;
    }

.expanded-nav-columns-boxN {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 20px 70px -30px black;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.expanded-nav-columns-box {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 20px 70px -30px black;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .expanded-nav-columns-box:hover { /*-ms-transform: scale(1.03);-webkit-transform: scale(1.03);transform: scale(1.03);*/
        -ms-transform: translate(0, -5px);
        -webkit-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }

.expanded-nav h3 {
    text-transform: none;
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.expanded-nav p {
    color: black;
}

.expanded-nav .line {
    width: 25px;
    height: 3px;
    background: #0089aa;
    margin: 15px 0;
}

.login-nav-container {
    width: 100%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.login-nav {
    width: 300px;
    height: auto;
    position: absolute;
    top: -10px;
    right: 70px;
    z-index: 11;
    box-shadow: 0px 20px 70px -30px black;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    display: none;
}

.login-nav-fields {
    width: 270px;
    height: 50px;
    position: relative;
    border: solid 1px #8f94a0;
    padding: 9px 12px;
    box-sizing: border-box;
    cursor: text;
    margin: 25px auto 0 auto;
}

    .login-nav-fields:nth-child(3) {
        margin-top: -1px;
        margin-bottom: 12px;
    }

    .login-nav-fields.selected {
        background: white;
        border: solid 1px #00bff3;
    }

    .login-nav-fields img {
        width: 14px;
        height: auto;
        padding: 7px 10px 7px 0;
        border-right: solid 1px #d7d7d7;
    }

    .login-nav-fields img, .login-nav-fields input {
        display: inline-block;
        vertical-align: middle;
    }

    .login-nav-fields input {
        border: none;
        padding: 6px 5px;
        background: none;
        font-size: 14px;
        width: 210px;
    }

        .login-nav-fields input:focus {
            outline-width: 0;
        }

#user_pass {
    width: 160px;
}

.login-nav-fields a {
    font-family: "Lato", sans-serif;
    color: #3c96b7;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.login-nav input[type="radio"] {
    display: block;
    width: 14px;
    border-radius: 100%;
    -webkit-appearance: none;
    height: 14px;
    padding: 0;
    border: solid 2px #3c96b7;
    cursor: pointer;
    margin-left: 20px;
}

    .login-nav input[type="radio"]:checked {
        background: black;
        border: solid 3px #3c96b7;
    }

.login-nav input[type="radio"], .login-nav p {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 10px;
}

#login-error {
    margin: 0 0 10px 20px;
    color: #f01a34;
    display: none;
}

.login-btn {
    width: 296px;
    color: white;
    background: #3c96b7;
    display: block;
    text-align: center;
    padding: 22px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin: 12px auto 2px auto;
}

.footer-container {
    width: 100%;
    height: auto;
    background: url('../img/headers/footer-bg.jpg')no-repeat center;
    background-size: cover;
    margin-top: 25px;
    position: relative;
    z-index: 10;
}

.footer {
    position: relative;
    padding: 60px 20px 0 20px;
    box-sizing: border-box;
}
/*.footer.upper {height: 140px;position: relative;padding: 0 20px;}*/
/*.footer.upper .footer-content {height: 140px;}*/
/*.footer.upper ul li {height: 70px;width: auto;display: inline-block;vertical-align: top;border-left: solid 2px rgba(255, 255, 255, 0.22);padding: 0 40px 0 10px;}
.footer.upper ul {bottom: 0;position: absolute;}*/
.footer-social {
    display: inline-block;
    float: right;
    margin-top: 50px;
}

    .footer-social a {
        display: table-cell;
    }

    .footer-social img {
        margin-left: 10px;
    }

.footer-control {
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 20px;
    text-transform: uppercase;
    z-index: 10;
}

    .footer-control a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .footer-control img {
        margin-left: 50px;
    }

    .footer-control p {
        display: inline-block;
        float: right;
        font-size: 11px;
        letter-spacing: 1px;
    }

.footer.lower {
    display: none;
}

.footer .footer-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.22;
}

.footer a, .footer a:hover, .footer p {
    color: white;
}

.footer-content {
    margin-left: 55px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.footer-content-box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.footer-grid { /*margin-bottom: 40px;*/
    margin-top: 30px;
}

.footer-grid-column {
    width: 250px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.footer-grid h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
}

.footer-grid h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 26px
}

.footer-grid ul {
    margin-left: 14px;
}

    .footer-grid ul li a {
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0.8px;
        line-height: 26px;
    }

.footer-disclaimer {
    padding-bottom: 50px;
    display: inline-block;
}

    .footer-disclaimer a {
        font-size: 12px;
    }

    .footer-disclaimer ul li {
        display: inline-block;
        text-align: left;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.8px;
    }

    .footer-disclaimer p {
        font-size: 10px;
        opacity: 0.7;
        filter: alpha(opacity=70);
        margin-top: 10px;
    }

.external_icon {
    margin-left: 5px;
    width: auto;
    height: 10px;
}
/*End: Global CSS definitions*/

/*Begin: mcustomscrollbar definitions*/
.mCSB_scrollTools {
    height: 98%;
    top: 1%;
    z-index: 50;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.mCSB_outside + .mCSB_scrollTools {
    right: 5px;
}
/*End: mcustomscrollbar definitions*/

/*Begin: slick definitions*/
.slick-track, .slick-list {
    height: 100% !important;
}

.slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.first-slider {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
/*.second-slider, .third-slider {z-index: 3;display: none;}*/
.slick-slide {
    float: left;
}
/*.home-slider {position: relative;height: 100%;width: 100%;margin-bottom: -50px;}*/
/*End: slick definitions*/

/*Begin: segmenter definitions*/
.segmenter {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.segmenter__background, .segmenter__pieces, .segmenter__piece-wrap, .segmenter__piece-parallax, .segmenter__piece {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.segmenter__piece-parallax {
    transition: transform 0.2s ease-out;
}

.segmenter__pieces {
    perspective: 400px;
}

.segmenter__background, .segmenter__piece, .segmenter {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.segmenter__shadow {
    position: absolute;
    opacity: 0;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
}
/*End: segmenter definitions*/

@keyframes next {
    from {
        -ms-transform: rotateY(-22deg);
        -webkit-transform: rotateY(-22deg);
        transform: rotateY(-22deg);
        opacity: .9;
    }

    to {
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        opacity: 1;
    }
}

@keyframes prev {
    from {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes landing {
    from {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.slider-item {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

    .slider-item.animate-next {
        animation-name: next;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
        transition-timing-function: linear;
        display: block;
    }

    .slider-item.animate-prev {
        animation-name: prev;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
        transition-timing-function: linear;
        display: block;
    }

.segmenter {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

    .segmenter.animate {
        animation-name: landing;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -webkit-transition-timing-function: ease; /* Safari and Chrome */
        transition-timing-function: linear;
    }

.slider-scale {
}

/*Begin: Global Pages CSS definitions*/
.pages {
}

    .pages h2 {
        font-family: "Lato", sans-serif;
        font-size: 28px;
    }

.header {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

    .header.narrow {
        padding: 0 20px;
    }

.home.header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

    .home.header .header-copy {
        position: relative;
        width: 60%;
    }

.first-slider .home.header .header-copy {
    width: 890px;
}

.second-slider .home.header .header-copy {
    width: 950px;
}

.third-slider .home.header .header-copy {
    width: 1060px;
}

.home.header h2 {
    font-size: 35px;
    line-height: initial;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.home.header p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin-top: 20px;
}

img.ticker_sign {
    margin-left: 20px;
    top: 1px;
    height: 16px;
    width: auto;
}
/*.pages .header-content {height: 250px;}*/
.header-content {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 72%;
}

    .header-content.home {
        position: relative;
        height: 88vh;
        width: 100%;
        margin-bottom: -50px;
        max-height: none;
    }

    .header-content.wide-image {
        padding: 0;
        height: auto;
    }

    .header-content img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-content .upper-bar, .header-content .lower-bar {
        width: 1px;
        height: 75px;
        background: #11586d;
        margin: 0 0 5px 10px;
    }

    .header-content .lower-bar {
        height: 100%;
        bottom: 0;
        position: relative;
        margin-top: 5px;
    }

.header-copy {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    line-height: 48px;
    text-align: center;
    z-index: 1;
    top: 40%;
    white-space: normal;
}

.header-box {
    border: 3px solid black;
    padding: 10px;
    margin: 20px;
}


.header-content h2 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0 auto;
    width: 900px;
    line-height: 48px;
    text-align: center;
    position: relative;
    padding-top: 0;
    letter-spacing: 2px;
    font-weight: 400;
}

.header-content {
    color: white;
    padding: 0;
}

.inner-content {
    padding: 0 110px;
}

.subnav {
    width: 100%;
    height: 50px;
    position: relative;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    margin-top: 30px;
    z-index: 1;
    margin-bottom: 50px;
}

.subnav-wrapper {
    height: 50px;
}

    .subnav-wrapper .inner-content {
        padding: 0;
    }

.subnav ul {
    text-align: center;
    margin-top: 12px;
}

    .subnav ul li {
        width: auto;
        height: 50px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding-top: 0px;
    }
        /*.subnav ul li:first-child a {padding-left: 0;}*/
        .subnav ul li a {
            font-family: "Lato", sans-serif;
            font-size: 14px;
            color: black;
            padding: 0 40px 0 0;
        }

            .subnav ul li a.active, .subnav ul li:hover a, .subnav ul li a:hover {
                color: #358baa;
            }

.subnav.active-bar {
    width: 0px;
    height: 3px;
    background: #358baa;
    position: absolute;
    bottom: 0;
    -ms-transform: skewX(-40deg);
    -webkit-transform: skewX(-40deg);
    transform: skewX(-40deg);
    margin-bottom: 0;
}
/*End: Global Pages CSS definitions*/

/*Begin: Page CSS definitions*/
h3 {
    font-family: "Lato", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
}

.fund-prices-ticker-container {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 10%;
    box-sizing: border-box;
}

.fund-prices-ticker {
    width: 100%;
    max-width: 990px;
    height: 50px;
    background: /*url(../img/fund-prices-ticker-bg.jpg)no-repeat center*/ whitesmoke;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0 auto;
    box-shadow: 0px 41px 50px -41px black;
    overflow: hidden;
}

#priceTicker {
    white-space: nowrap;
    padding: 12px 0;
}

    #priceTicker li {
        display: inline-block;
        margin: 0 20px;
        position: relative;
        left: 0;
    }

    #priceTicker b {
        margin-left: 10px;
    }

.home-whatweoffer {
    width: 100%;
    height: auto;
    position: relative;
    padding: 125px 20px 70px 20px;
    box-sizing: border-box;
}

.home-whatweoffer-title {
    margin-left: 125px;
}

.section-title img {
    display: block;
}

.section-title h2, .section-title a {
    display: inline-block;
    vertical-align: middle;
}

.section-title a {
    margin-left: 22px;
}

.home-whatweoffer-deck {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.home-whatweoffer-card {
    width: 360px;
    height: 195px;
    background: white;
    display: inline-block;
    margin: 0 14px 20px 14px;
    box-shadow: 0px 20px 70px -30px black;
}

.home-news_people {
    width: 100%;
    height: auto;
    position: relative;
    white-space: nowrap;
    padding: 50px 20px 0 20px;
}

    .home-news_people > div {
        display: inline-block;
        width: 50%;
        height: auto;
        padding: 0 125px;
        box-sizing: border-box;
        vertical-align: top;
    }

.news-thumb {
    display: inline-block;
}

.news-desc {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    padding-top: 3px;
}

.news-date {
    font-size: 13px;
    font-weight: 600;
}

.news-headline {
    font-size: 15px;
    margin-top: 2px;
    line-height: 23px;
    font-weight: 400;
}

.news-feed li {
    margin-bottom: 10px;
}

.profile p.inner-content {
    width: 640px;
}

.profile p.desc {
    text-align: center;
    width: 870px;
    margin: 0 auto;
}

.about .description h4 {
    font-size: 24px;
}

.about .description ul li {
    list-style: disc;
    margin-left: 20px;
}

.ourvalues .inner-content p {
    text-align: center;
}

.pointers-frame {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
}

    .pointers-frame img {
        width: 100%;
        height: auto;
    }

.pointers-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pointers-bg-frame {
    width: 65%;
    height: 90%;
    position: absolute;
    top: 5%;
    right: 1%;
    overflow: hidden;
    display: table;
}

.pointers-bg-slanted {
    background: #414141;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.95;
    -ms-transform: skewX(-22deg);
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    left: 140px;
    display: block;
}

.pointers-info {
    padding: 0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

    .pointers-info p {
        font-size: 25px;
        color: white;
        padding-left: 15px;
    }

    .pointers-info ul {
        text-align: center;
    }

        .pointers-info ul li {
            margin: 7px 5px !important;
            background: #8bbbcc;
            display: inline-table;
            width: 31%;
            vertical-align: middle;
            height: 150px;
            box-sizing: border-box;
            padding: 0 2%;
        }
            /*.pointers-info ul li:first-child {margin-top: 30px;}*/
            .pointers-info ul li p {
                font-size: 18px;
                display: table-cell;
                vertical-align: middle;
                padding: 0;
                margin-bottom: 0;
            }

.vision {
    background: white;
    margin-top: -90px;
    z-index: 1;
    max-width: 1440px;
}

    .vision h3 {
        padding: 50px 0 0 0;
        margin-bottom: 10px;
    }

    .vision p {
        margin-bottom: 20px;
    }

.key-table {
    margin-top: 20px;
    width: 890px;
}

.fund-table {
    margin-top: 40px;
    width: 890px;
    margin-bottom: 10px;
}

.footnote {
    width: 890px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.timeline {
    position: relative;
    width: 1024px;
    height: 1800px; /*1490*/
    margin: 0 auto;
    margin-top: 50px;
}

    .timeline .backbone {
        width: 4px;
        background: #cdcdcd;
        position: absolute;
        margin-left: 50%;
        left: -2px;
        height: auto;
        top: 0;
        bottom: 50px;
    }

    .timeline .dot {
        position: relative;
        width: 12px;
        height: 12px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin: 0 auto;
        background: #86c3d8;
        border: solid 8px #14044c;
    }

        .timeline .dot.start {
            width: 30px;
            height: 30px;
            background: #cdcdcd;
            border: 0;
        }

        .timeline .dot.last {
            width: 30px;
            height: 30px;
            background: #cdcdcd;
            border: 0;
            top: 40px;
        }

        .timeline .dot.first {
            top: 150px;
            background: #e6d8b9;
            border: solid 8px #828282;
        }

        .timeline .dot.second {
            top: 120px;
            background: #ffffff;
            border: solid 8px #c9521d;
        }

        .timeline .dot.third {
            top: 305px;
            background: #a7cfdf;
            border: solid 8px #005677;
        }

        .timeline .dot.fourth {
            top: 70px;
            background: #e6e8e8;
            border: solid 8px #71c0bc;
        }

        .timeline .dot.fifth {
            top: 255px;
            background: #ecf3f3;
            border: solid 8px #9cca94;
        }

        .timeline .dot.sixth {
            top: 125px;
            background: #86c3d8;
            border: solid 8px #14044c;
        }

        .timeline .dot.seventh {
            top: 370px;
            background: #86c3d8;
            border: solid 8px #14044c;
        }

    .timeline .card {
        position: relative;
        width: 420px;
        height: auto;
        background: white;
        box-shadow: 0px 0px 80px -25px black;
        margin-left: 40px;
    }

        .timeline .card.second {
            left: -40px;
        }

        .timeline .card.third {
            margin-top: 210px;
        }

        .timeline .card.fourth {
            left: -40px;
            margin-top: -10px;
        }

        .timeline .card.fifth {
            margin-top: 115px;
        }

        .timeline .card.sixth {
            margin-top: -10px;
            left: -40px;
        }

        .timeline .card.seventh {
            margin-top: 250px;
            left: 0px;
        }

        .timeline .card p {
            padding: 40px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            line-height: 30px;
            line-height: 26px
        }


.profile .z-1 {
    background: white;
}

.shareholding_structure {
    position: relative;
    width: 100%;
}

    .shareholding_structure h3 {
        padding-top: 20px;
    }

    .shareholding_structure .copy {
        margin-top: 50px;
        width: 660px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .shareholding_structure p {
        text-align: center;
        margin-bottom: 30px;
    }

.pie-holder {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

    .pie-holder img {
        position: absolute;
        width: 150px;
        height: auto;
        top: 165px;
        left: 120px;
        z-index: -1;
    }

    .pie-holder h4 {
        font-family: 'Lato', sans-serif;
        font-size: 36px;
        color: #165e83;
        position: absolute;
        text-align: center;
        line-height: 24px;
    }

        .pie-holder h4 span {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #414141;
            line-height: 16px
        }

        .pie-holder h4 .line {
            width: 40px;
            height: 1px;
            background: #165e83;
            position: absolute;
        }

    .pie-holder .apex {
        top: 0;
        right: -200px;
    }

    .pie-holder h4.apex .line {
        left: -60px;
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .pie-holder .med {
        top: 0px;
        right: -150px;
    }

    .pie-holder h4.med .line {
        left: -40px;
        top: 35px;
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .pie-holder .others {
        top: 120px;
        left: -170px;
    }

    .pie-holder h4.others .line {
        right: -75px;
        top: 55px;
    }

.pie-explanation {
    white-space: nowrap;
    margin-top: 60px;
    margin-bottom: 100px;
}

    .pie-explanation b {
        font-size: 20px;
        margin-bottom: 5px;
        display: block;
    }

    .pie-explanation p {
        font-size: 15px;
        text-align: left;
        padding: 0 110px;
        margin-bottom: 0;
        line-height: 26px
    }

.about p {
    margin: 10px 0;
}

.about ul.tiles {
    text-align: left;
}

    .about ul.tiles li {
        display: inline-block;
        margin: 15px 20px 15px 0;
        width: 47%;
        height: 216px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        max-width: 475px;
    }

        .about ul.tiles li:hover {
            box-shadow: 0px 0px 17px #c5c5c5;
        }

.about .info {
    position: absolute;
    z-index: 2;
    width: 45%;
    top: 60px;
    left: 2vw;
}

    .about .info.noPic {
        left: 0;
        margin: 0 auto;
        width: 100%;
        top: 50px;
    }

    .about .info p {
        width: 100%;
        text-align: center;
        color: white;
    }

        .about .info p:last-child {
            margin-top: 10px;
            color: black;
        }

.about .face {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: auto;
    height: 90%;
}

.about ul.tiles.small {
    text-align: center;
}

    .about ul.tiles.small li {
        width: 230px;
        height: 300px;
    }

.about .small .info {
    top: 205px;
    left: 10%;
}

    .about .small .info h2 {
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        padding: 0;
        width: 140px;
        line-height: 26px
    }

    .about .small .info .line {
        width: 25px;
        height: 3px;
        background: #3f90ae;
        margin-top: 15px;
    }

.about .small .face {
    top: 5%;
    width: 80%;
    height: auto;
    left: 10%;
}

.about .small img.bg {
    width: auto;
    height: 100%;
}

.about .small .profile-pic-holder img.bg {
    width: 216px;
    height: auto;
}

.about .small .profile-bio-holder ul li {
    width: initial;
    height: initial;
}

.about img.bg {
    width: 100%;
    height: 100%;
}

.expandable-div-holder {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 40;
    top: 0;
    left: 0;
    display: none;
}

.expandable-div-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    clip: auto;
    display: block;
}

.expandable-div-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20%;
    box-sizing: border-box;
    cursor: default;
    display: block;
    vertical-align: middle;
}

.expandable-div-center {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0;
    padding: 0 15%;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    bottom: 0;
}

.expandable-div-content a {
    color: #3c96b7;
}

.expandable-div-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.99;
}

.expandable-div-content .profile-pic-holder {
    position: relative;
    width: 216px;
    height: 216px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

.profile-bio-holder .copy {
    position: relative;
    width: 100%;
    height: auto;
    white-space: normal;
    cursor: default;
}

.expandable-div-content .profile-bio-holder {
    width: calc(100% - 246px);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    float: left;
    text-align: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 216px;
}

.profile-bio-holder p {
    text-align: justify;
}

.expandable-div-content .profile-bio-holder.noPic {
    width: 100%;
}

.expandable-div-content .profile-bio-holder ul li {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
    white-space: normal;
    margin: 10px;
}

.expandable-div-content .face {
    height: 100%;
    right: -30px;
}

.expandable-div-content h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: normal;
    line-height: 45px;
}

.chart_holder {
    margin-bottom: 60px;
}

    .chart_holder img {
        width: 100%;
        height: auto;
    }

.products .expandable-div-content .profile-bio-holder {
    height: 100%;
}

#trustee .info {
}

#trustee h2 {
    font-size: 15px;
    width: 260px;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    font-weight: normal;
}

#compliance {
    margin-bottom: 50px;
}

.narrow-copy {
    position: relative;
    width: 680px;
    margin: 30px auto 60px auto;
}

h3.first {
    padding-top: 70px;
}

.single .content {
    text-align: center;
    white-space: nowrap;
}

.single .header-copy p {
    text-align: center;
}

.single h3, .single p {
    font-family: "Lato", sans-serif;
    font-size: 28px;
}

    .single h3.special {
        padding-top: 50px;
        margin-bottom: -20px;
    }

.single h3 {
    text-transform: uppercase;
    color: #14044c;
    font-weight: 400;
    letter-spacing: 2px;
}

.single p {
    font-size: 15px; /*padding: 8px 0;*/
    line-height: 26px;
}

    .single p b {
        margin-top: 20px;
    }

.single .risks p b {
    display: block;
}

.single .risks .lower-li p b {
    display: inline;
}

.single ul.ticks {
    margin: 50px 0 30px 0;
}

    .single ul.ticks li {
        display: inline-block;
        width: 170px;
        border-top: 0;
        cursor: default;
    }

        .single ul.ticks li p {
            text-align: center;
        }

        .single ul.ticks li img {
            float: none;
        }

.single .left, .single .right {
    padding: 0 45px;
}

.single .underline {
    margin: 50px auto;
}

.narrow-copy.benefits-of {
    padding-bottom: 30px;
    margin-top: 0;
}

.single a {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.single ul li {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    border-top: solid 1px #3c3c3c;
    padding: 0;
    cursor: pointer;
    line-height: 26px
}

    .single ul li:first-child {
        border-top: 0;
    }

    .single ul li img {
        float: right;
    }

.upper-li {
    height: 60px;
    line-height: 60px;
    position: relative;
    z-index: 1;
}

    .upper-li img {
        margin-top: 20px;
        position: absolute;
        right: 26px;
    }

.single ul li .lower-li {
    position: relative;
    width: 600px;
    margin: 0 auto 30px auto;
}

.single .get-started {
    position: relative;
    width: 100%;
    height: auto;
    background: black;
    padding-bottom: 360px;
    overflow: hidden;
}

    .single .get-started img.bg {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .single .get-started h3 {
        padding-top: 80px;
    }

.single ul li .lower-li ol li, .invest ul li .lower-li ul li {
    border-top: 0;
    text-align: center;
    padding: 5px 0;
    list-style-type: decimal;
    cursor: default;
    list-style-position: inside;
}

.single ul li .lower-li ul li {
    list-style-image: url('../img/bullet.png');
}

.single ul li .lower-li p {
    cursor: default;
    text-align: center;
}

.single .monitor {
    position: relative;
    width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-top: -326px;
    z-index: 1;
}

    .single .monitor .narrow-copy {
        margin-bottom: 60px;
    }

    .single .monitor .bg-gray {
        width: 100%;
        height: 296px;
        position: absolute;
        z-index: -1;
    }

.single h3 {
    padding-top: 30px;
}

.single .monitor a .big-box {
    width: 460px;
    height: 160px;
    background: url('../ICONPIC/bigbox-1.jpg');
    background-size: cover;
    display: inline-block;
    margin: -50px 15px -10px 15px;
    vertical-align: middle;
    padding: 30px 60px;
    box-sizing: border-box;
    opacity: 1;
}

    .single .monitor a .big-box:hover {
        opacity: 0.9;
        box-shadow: 0px 0px 17px #c5c5c5;
    }

    .single .monitor a .big-box.second {
        background: url('../ICONPIC/bigbox-2.jpg');
        background-size: cover;
    }

    .single .monitor a .big-box h4 {
        margin: 0;
    }

    .single .monitor a .big-box p {
        padding: 5px 0;
        text-align: center;
    }

.single .monitor .monitor-expand {
    position: relative;
    width: 956px;
    margin: 30px auto;
}

    .single .monitor .monitor-expand .bubble-pin {
        width: 16px;
        height: 14px;
        position: absolute;
        top: -14px;
        left: 5%;
    }

    .single .monitor .monitor-expand .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f1f1f1;
    }

    .single .monitor .monitor-expand .content {
        padding: 10px 30px;
        box-sizing: border-box;
    }

    .single .monitor .monitor-expand ol li {
        list-style: decimal;
        text-align: left;
        list-style-position: inside;
    }

    .single .monitor .monitor-expand p {
        text-align: left;
    }

        .single .monitor .monitor-expand p b {
            margin: 0;
        }

.single table {
    width: 960px;
    position: relative;
}

.single tr th {
    color: white;
    background: #72a8ba;
}

.single tr td {
    text-align: center;
}

.single .a ul li {
    border-top: 0;
    cursor: default;
    padding: 10px 70px;
    background: #72a8ba;
    margin: 10px auto;
    width: 960px;
    box-sizing: border-box;
    position: relative;
}

    .single .a ul li img {
        position: absolute;
        top: 26px;
        left: 30px;
    }

.single .risks {
    padding-bottom: 50px;
    margin-bottom: -50px;
    margin-top: 50px;
}

    .single .risks ul li .special-upper-li {
        width: 100%;
        margin: 10px auto;
        background: #49abc5;
        padding: 20px 0;
        position: relative;
        z-index: 5;
    }

        .single .risks ul li .special-upper-li img {
            right: 20px;
            top: -8px;
        }

    .single .risks ul li .lower-li ul li .upper-li {
    }

    .single .risks ul#all_risks li.b {
        border-top: 0;
    }

    .single .risks .narrow-copy {
        margin: 0 auto;
    }

.single .general-risk li {
    border-top: solid 1px #e0e0e0;
}

#get-started-list a {
    color: #3c96b7;
}

/*Stuff for the accordion*/
#benefits {
    display: none;
}

    #benefits .lower-li {
        display: none;
    }

#get-started-list {
    display: none;
}

    #get-started-list .lower-li {
        display: none;
    }

#annual_statement, #other_services, .monitor-expand .bubble-pin {
    display: none;
}

#all_risks {
    display: none;
}

    #all_risks .special-lower-li {
        display: none;
    }

        #all_risks .special-lower-li .lower-li {
            display: none;
        }

.products ul.tiles {
    text-align: center;
}

    .products ul.tiles li {
        display: inline-block;
        margin: 15px 20px 15px 0;
        width: 260px;
        height: 170px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 50px -24px black;
        border: 1px solid #e8e8e8;
    }

        .products ul.tiles li:hover {
            box-shadow: 0px 0px 50px -19px black;
            border: 1px solid #e8e8e8;
        }

.products .face {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 70px;
    width: auto;
    max-width: 115px;
    height: 70px;
}

.products .info {
    bottom: 0;
    background: white;
    position: absolute;
    width: 100%;
    height: 65px;
    text-align: center;
    display: table;
}

    .products .info p {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
        line-height: 26px
    }

.products .expandable-div-content .face {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 126px;
    height: auto;
}

.products .expandable-div-content .profile-bio-holder {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    float: left;
    text-align: left;
}

.products .resources .product-details {
    margin: 0 auto;
}

.products .product-details {
    width: 100%;
    max-width: 960px;
    margin: 60px auto 0 auto;
    position: relative;
}

.products .expandable-div-content .profile-bio-holder .narrow-copy {
    text-align: center;
}

    .products .expandable-div-content .profile-bio-holder .narrow-copy h3 {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .products .expandable-div-content .profile-bio-holder .narrow-copy a {
        color: white;
    }

.products .expandable-div-content .face, .products .expandable-div-content .profile-bio-holder h3 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
}

.tickertape {
    width: 100%;
    max-width: 80%; /*990px;*/
    height: 50px;
    background: /*url(../img/fund-prices-ticker-bg.jpg)no-repeat center*/ whitesmoke;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    margin: 0 auto;
    box-shadow: 0px 41px 50px -41px black;
    overflow: hidden;
    color: #4d4d4d;
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: whitesmoke;
    font-family: 'Lato',sans-serif;
    font-size: small;
    font-weight: bold;
    border-radius: 10px;
}

.ViewHistory {
    color: #4d4d4d;
}

.small {
    position: relative;
    text-align: right;
    left: -5px;
    top: -3px;
}

#belowDate {
    top: 12px;
}


.marquee {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-color: whitesmoke;
    font-family: 'Lato',sans-serif;
}

    .marquee div {
        display: block;
        width: 450%;
        height: 50px;
        position: absolute;
        overflow: hidden;
        animation: marquee 45s linear infinite;
        animation-iteration-count: infinite;
        background-color: whitesmoke;
        font: bold;
        font-family: 'Lato',sans-serif;
        color: #4d4d4d;
        vertical-align: central;
    }

    .marquee span {
        float: left;
        width: 50%;
        animation-iteration-count: infinite;
    }

@keyframes marquee {
    0% {
        left: 4%;
    }

    100% {
        left: -10%;
    }
}

.lalala {
    white-space: pre;
    trans
}

.products .expandable-div-content .profile-bio-holder h4 {
    margin-left: 20px;
    font-family: 'Lato',sans-serif;
    font-size: 28px;
    font-weight: 400;
    display: inline-block;
}

.products .expandable-div-content .profile-bio-holder .resources h4 {
    font-size: 26px;
}

.products .expandable-div-content .profile-bio-holder h5 {
    font-family: 'Lato',sans-serif;
    font-size: 14px; /*text-transform: uppercase;*/
    margin-bottom: 0px;
}

.products .expandable-div-content .profile-bio-holder p {
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    line-height: 26px
}

.products .profile-bio-holder .copy {
    margin-top: 20px;
}

.products .expandable-div-content {
    padding: 0;
    vertical-align: bottom;
}

    .products .expandable-div-content ul {
        list-style-image: url('../img/bullet.png');
    }

        .products .expandable-div-content ul li {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            cursor: default;
            list-style-image: url('../img/bullet.png');
            box-shadow: none;
            font-size: 15px;
            line-height: 26px;
            border: 0;
            pointer-events: none;
        }

    .products .expandable-div-content .profile-bio-holder table.detail-line {
        margin: 40px 0 0 0;
        width: 100%;
    }

        .products .expandable-div-content .profile-bio-holder table.detail-line tr {
            vertical-align: top;
            margin-bottom: 40px;
        }

            .products .expandable-div-content .profile-bio-holder table.detail-line tr td {
                border: none;
                border-left: 1px solid #d4d4d4;
                padding: 0 0 0 10px;
            }

                .products .expandable-div-content .profile-bio-holder table.detail-line tr td:first-child {
                    border-left: 0;
                    padding: 0;
                }

        .products .expandable-div-content .profile-bio-holder table.detail-line h5 {
            font-family: 'Lato',sans-serif;
            font-size: 14px;
            margin: 0;
            margin-bottom: 0px;
        }

        .products .expandable-div-content .profile-bio-holder table.detail-line p {
            font-family: 'Lato',sans-serif;
            font-size: 15px;
            line-height: 26px;
            font-weight: 400;
            padding-right: 20px;
        }

.products .resources {
    padding: 40px 0;
    margin-top: 40px;
    margin-bottom: -50px;
    height: auto;
    min-height: 0;
}

    .products .resources h4 {
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        font-weight: 400;
        margin: 0 0 0 10px;
    }

    .products .resources ul {
        margin-top: 30px; /*border-left: solid 1px gray;*/
        white-space: normal;
    }

        .products .resources ul li {
            margin-bottom: 10px;
            padding-left: 20px;
            margin-left: -2px;
            border-left: solid 2px transparent;
            display: inline-block;
            width: 47%;
            pointer-events: none;
        }

            .products .resources ul li a {
                width: 100%;
                display: block;
                pointer-events: initial;
            }

            .products .resources ul li:hover {
                border: 0;
                border-left: solid 2px #3c96b7;
                box-shadow: none;
            }

            .products .resources ul li img, .products .resources ul li .details {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
            }

            .products .resources ul li .details {
                margin-left: 10px;
                width: 80%;
            }

.products.private_mandate {
    text-align: center;
    margin-bottom: 60px;
}

    .products.private_mandate h4 {
        margin-bottom: 20px;
    }

    .products.private_mandate p {
        margin: 0 auto 10px auto;
        width: 100%;
        max-width: 880px;
    }

.resources {
    min-height: 790px;
}

    .resources .erm h4 {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: normal;
        margin: 17px auto;
    }

    .resources .erm ul {
        max-width: 768px;
        margin: 20px auto 0 auto;
        width: 100%;
    }

        .resources .erm ul li {
            margin-bottom: 20px;
            padding-left: 20px;
            margin-left: -2px; /*border-left: solid 2px transparent;*/
            display: inline-block;
            width: 47%;
        }

    .resources .erm .third-degree {
        width: 47%;
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
    }

        .resources .erm .third-degree ul {
            border-bottom: 0;
        }

        .resources .erm .third-degree ul {
            display: block;
        }
    /*.downloads ul li:hover {border-left: solid 2px #3c96b7;}*/
    .resources .erm ul li img, .resources .erm ul li .details {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    .resources .erm ul li .details {
        margin-left: 10px;
        width: calc(100% - 50px);
    }

.fund_cat_btn {
    width: 100%;
    margin: 10px auto;
    background: #49abc5;
    padding: 0px 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

    .fund_cat_btn h4 {
        display: inline-block;
    }

    .fund_cat_btn img {
        float: right;
        margin-top: 12px;
    }

#shariah_money_market + .category_contents, #conventional_equities + .category_contents, #shariah_equities + .category_contents {
    display: none;
}

.category_contents h5 {
    font-size: 20px;
    margin-bottom: 0;
}

.single.contact h3, .contact p {
    font-family: "Lato", sans-serif;
    font-size: 28px;
}

.single.contact h3 {
    margin-top: 30px;
}

.single.contact .content.narrow {
    max-width: 1200px;
}

.single.contact a {
    text-align: left;
    color: white;
    font-size: 15px;
}

.single.contact .map-title h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.single.contact .map-container {
    background: #8dbbcb;
    width: 100%;
    min-height: 400px;
    display: table;
}

    .single.contact .map-container p {
        font-size: 15px;
        color: white;
        width: auto;
        line-height: 22px;
    }

        .single.contact .map-container p:nth-child(2) {
            margin-top: 20px;
        }

    .single.contact .map-container img {
        width: 100%;
    }

.single.contact .left, .single.contact .right {
    padding: 0 10px;
    width: 49%;
}

.single.contact .map-container .left, .single.contact .map-container .right {
    text-align: left;
    padding: 0 20px;
    vertical-align: middle;
    display: table-cell;
}
/*.single.contact .map-container .right {padding: 0 30px 0 0;}*/
.single.contact p {
    font-size: 15px;
    width: 600px;
    margin: 0 auto;
    line-height: 26px
}

#contact_form {
    text-align: left;
    margin: 0;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 90px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.single.contact form p {
    width: 90%;
    margin: 20px 0 5px 0;
}

.single.contact form .right p {
    width: 100%;
}

#contact_form input {
    padding: 14px 15px;
    width: 90%;
    background: #f8f9f9;
    border: solid 1px #8c9098;
    box-sizing: border-box;
}

    #contact_form input:focus {
        background: white;
        border: solid 1px #21aad1;
    }

::-webkit-input-placeholder {
    color: #c7c7c7;
    font-style: italic;
}

::-moz-placeholder {
    color: #c7c7c7;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #c7c7c7;
    font-style: italic;
}

:-moz-placeholder {
    color: #c7c7c7;
    font-style: italic;
}

.single.contact #contact_form .custom_textarea p {
    background: #e4e4e4;
    padding: 12px 20px;
    border: solid 1px #8c9098;
    border-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#contact_form textarea {
    width: 100%;
    height: 206px;
    resize: none;
    border-top: 0;
    padding: 12px;
    line-height: 18px;
    background: #f8f9f9;
    font-size: 15px;
    border: solid 1px #8c9098;
    border-top: 0;
    box-sizing: border-box;
}

    #contact_form textarea:focus {
        background: white;
        border: solid 1px #21aad1;
        border-top: 0;
    }

#contact_form a {
    display: block;
    font-family: 'Lato',sans-serif;
    font-size: 11px;
    font-weight: 600;
    float: right;
    margin-top: 0px;
}

#contact_form p a {
    float: none;
    display: inline;
    font-size: inherit;
    color: black;
    font-weight: 400;
}

    #contact_form p a.active {
        font-weight: 800;
        color: #3c96b7;
    }

#comment_length {
    padding-top: 0;
    margin-top: 0;
}

.single .contact_faq p img {
    vertical-align: middle;
    margin-right: 20px;
}

.single .contact_faq table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
}

    .single .contact_faq table tr td {
        border: 0;
        text-align: left;
        vertical-align: middle;
        line-height: 23px;
    }

        .single .contact_faq table tr td:first-child {
            width: 120px;
        }

        .single .contact_faq table tr td a {
            text-align: left;
            color: #3c96b7;
            font-size: 15px;
        }

#loading_feedback {
    display: inline;
    vertical-align: middle;
    float: right;
    position: relative;
    margin-top: 6px;
    margin-right: 10px;
    display: none;
}

#send_feedback {
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
}

#historical_fund_prices {
    margin-bottom: 60px;
    padding: 0;
}

.control {
    margin-top: 60px;
    text-align: center;
}

    .control select, #historical_fund_prices .control input {
        height: 50px;
        padding: 0 10px;
    }

    .control p {
        margin: 0 10px
    }

        .control p.lol {
            margin: 0 10px;
        }

    .control .zz {
        position: relative;
    }

        .control .zz img {
            position: absolute;
            position: absolute;
            right: 20px;
            top: 11px;
            pointer-events: none;
        }

    .control input[type=submit] {
        background: #71a7b9;
        border: 0;
        color: white;
        height: 50px;
        vertical-align: top;
        margin-left: 5px;
        padding: 0 10px;
        cursor: pointer;
    }

table#show_funds {
    width: 100%;
    margin-top: 50px;
    border-bottom: solid 1px #71a7b9;
    width: 60%;
}

    table#show_funds tr th {
        background: #71a7b9;
        color: white;
        padding: 30px 20px;
    }

    table#show_funds tr td, table#show_funds tr th {
        text-align: center;
        border-top: 0;
        border-bottom: 0;
        padding: 20px;
    }

        table#show_funds tr td:first-child, table#show_funds tr th:first-child {
            text-align: left;
        }

        table#show_funds tr td.date {
            background: #e4e4e4;
            font-weight: bold;
            padding: 20px;
        }

#distribution_table {
    margin-bottom: 60px;
    width: 60%;
}

#unit_split h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

#unit_split table {
    margin: 0 auto;
}

#market_commentary ul li {
    display: block;
    word-wrap: 100%;
}

.archives tr td {
    border: 0;
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0
}

    .archives tr td:nth-child(2) {
        border-left: solid 1px #d4d4d4;
    }

.airDate {
    color: #434343;
}

.podcast_url {
    color: #009ac6;
}

td.spacer {
    height: 30px;
}

#news_table p.overflow {
    width: 840px;
    color: #414141;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#news_table {
    margin-bottom: 60px;
}

    #news_table tr {
        cursor: pointer;
    }

        #news_table tr td {
            border: 0;
            padding: 10px 20px;
        }

.news_date {
    color: #414141;
}

.news_title {
    color: #3499ce;
}

.inner-news .header-content.bg-dark-blue {
    height: 450px;
    max-height: initial;
}

    .inner-news .header-content.bg-dark-blue .header-copy {
        padding-top: 2%;
    }

.inner-news p.published_on {
    font-size: 14px;
    color: gray;
    margin-top: 50px;
    margin-bottom: 30px;
}

.inner-news p {
    margin: 10px 0;
}

.inner-news .apex-line {
    margin: 30px 0;
}

.inner-news .share_news {
    margin-bottom: 60px;
}

    .inner-news .share_news p, .inner-news .share_news a img {
        display: inline;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }

    .inner-news .share_news p {
        margin-right: 10px;
        color: gray;
    }

.inner-news .navigate-news {
    width: 100%;
    height: auto;
    border-top: solid 1px black;
    padding-bottom: 1px;
    margin-bottom: -50px;
}

    .inner-news .navigate-news table {
        width: 100%;
        max-width: 1280px;
        margin: 0px auto 20px auto;
    }

    .inner-news .navigate-news tr td {
        border: 0;
        width: 50%;
    }

        .inner-news .navigate-news tr td:nth-child(2) {
            text-align: right;
            border-left: solid 1px gray;
        }

        .inner-news .navigate-news tr td p {
            margin: 0;
        }

    .inner-news .navigate-news a p {
        color: black;
    }

        .inner-news .navigate-news a p.navigate-news-title {
            color: #3499ce;
        }

.docs .header-content {
    height: 320px;
}

.docs .header-copy {
    top: 50%;
}

.docs .content {
    text-align: left;
}

.docs h4 {
    text-transform: uppercase;
    font-size: 20px;
    white-space: normal;
    line-height: 36px;
    margin: 30px 0 0 0;
    text-align: justify;
}

.docs p {
    text-align: justify;
}

    .docs p b {
        display: inline;
    }

.docs ul {
    padding-left: 30px;
}

    .docs ul li {
        cursor: default;
        border: 0;
        list-style-type: disc;
        white-space: normal;
        list-style-position: outside;
        text-align: justify;
    }

.docs ol {
    white-space: normal;
    list-style-type: decimal;
    list-style: decimal;
    text-align: left;
    padding-left: 20px;
}

    .docs ol li {
        list-style: lower-roman;
        list-style-position: outside;
        text-align: justify;
        padding-left: 10px;
    }

        .docs ol li ul li {
            list-style: disc;
            list-style-position: outside;
            text-align: justify;
            margin-left: 30px;
        }

        .docs ol li ol li {
            list-style: lower-alpha;
            list-style-position: outside;
            text-align: justify;
            margin-left: 30px;
        }

    .docs ol.lower-roman {
        list-style: lower-roman;
    }

    .docs ol.lower-alpha {
        list-style: lower-alpha;
    }
/*.security h4 {text-transform: uppercase;font-size: 26px;white-space: normal;line-height: 36px;margin: 30px 0 0 0;text-align: justify;}
.security p {text-align: justify;}
.security ul li {cursor: default;border: 0;list-style-type: disc;white-space: normal;list-style-position: inside;text-align: justify;}
.security ol li {list-style: lower-roman;list-style-position: inside;text-align: justify;}*/

.popup-tnc {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

    .popup-tnc h3 {
        margin: 30px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
    }

.popup-tnc-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
}

.popup-tnc-box {
    background: white;
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.popup-tnc-box-copy {
    position: absolute;
    height: auto;
    width: 100%;
    top: 70px;
    bottom: 80px;
    padding: 0px 30px 10px 30px;
    box-sizing: border-box;
    text-align: justify;
}

    .popup-tnc-box-copy p {
        margin: 0px 0 20px 0;
    }

    .popup-tnc-box-copy h4 {
        margin-bottom: 10px;
    }

.popup-tnc ul li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 30px;
}

.popup-tnc ol li {
    list-style-type: lower-roman;
    list-style-position: outside;
    margin-left: 30px;
}

.popup-tnc-cta {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: #475976;
    text-align: center;
    vertical-align: middle;
    padding-top: 26px;
    box-sizing: border-box;
}

#form_holder {
    position: relative;
    z-index: 1;
}

#form_wrapper {
    margin-top: 30px;
}

#success_holder {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #f8f9f9;
    text-align: center;
    display: none;
}

    #success_holder .content-holder {
        margin: auto;
        position: relative;
        top: 50%;
        margin-top: -60px;
    }

    #success_holder h4 {
        font-size: 36px;
        margin: 0;
    }

    #success_holder p {
        margin-bottom: 30px;
        text-align: center;
    }

    #success_holder a {
        font-size: 11px;
        font-weight: 400;
    }


/*End: Page CSS definitions	
/*start mobile*/
    @media only screen and (max-width: 768px) {
        .desktop-hidden {
            display: inline;
        }

        .mobile-hidden {
            display: none;
        }

        .nav-left {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
        }

        .nav-right {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            right: -100%;
            max-width: 500px;
        }

            .nav-right .active {
                font-weight: bold;
            }

        .nav-left-bg.bg-transparent {
            transform: none;
            background: #263048 !important;
            width: 100%;
            top: -80px;
        }

        img.nav-logo {
            mix-blend-mode: normal;
            width: 120px;
            top: 20px;
        }

        .nav-right a, .nav-right a:hover {
            color: #2c2c2c;
            width: 100%;
            height: 100%;
            padding: 20px;
            position: relative;
            box-sizing: border-box;
        }

        .nav-hover {
            display: none;
        }

        .main-nav ul {
            margin-top: 80px;
            text-align: left;
        }

            .main-nav ul li {
                display: block;
                text-align: center;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid whitesmoke;
                height: auto;
                position: relative;
            }

                .main-nav ul li:last-child {
                    border: 0;
                    padding: 20px;
                    margin: 0;
                }
        /*.main-nav ul li img {display: none;}*/
        .hamburger img {
            display: inline-block;
            position: absolute;
            right: 70px;
            top: 30px;
        }

        #hamburger-text {
            display: inline-block;
            color: white;
            position: absolute;
            top: 25px;
            right: 20px;
        }

        .expanded-nav {
            position: fixed;
            z-index: 10;
            height: auto;
            top: 80px;
            bottom: 0;
            padding-top: 0; /*overflow-y: auto;*/
            right: -100%;
            box-shadow: none;
            width: 80%; /*width: calc(100% - 60px);*/
            max-width: 400px;
        }

        .expanded-nav-content {
            padding-top: 0;
            height: auto;
            top: 40px;
            bottom: 0;
            position: absolute;
            overflow-y: auto;
        }

        .expanded-nav-columns {
            width: 100%;
            float: right;
            padding: 10px 20px;
            height: auto;
        }

        .expanded-nav-columns-box:hover {
            -ms-transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        .expanded-nav-tint {
            position: fixed;
            top: 80px;
            left: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            background: black;
            z-index: 10;
            opacity: 0.1;
            filter: alpha(opacity=10);
            display: none;
        }

        .close-expanded-nav {
            position: relative;
            right: 20px;
            display: none;
            float: right;
        }

        .subnav {
            height: auto;
            border-bottom: 0;
            margin-bottom: 30px;
        }

        .subnav-wrapper {
            height: auto;
        }

        .special_select {
            height: 50px;
            display: block;
            border-bottom: solid 1px #e1e1e1;
        }

        .subnav ul {
            margin-top: 0;
        }

        .special_select ul li img {
            position: relative;
            width: 13px;
            height: auto;
            left: 10px;
            top: 0px;
        }

        .subnav ul li {
            width: 100%;
            display: block;
            line-height: 50px;
        }

            .subnav ul li a {
                padding: 0;
                line-height: 50px;
            }

        .subnav .inner-content {
            display: none;
        }

        .footer-disclaimer ul li {
            line-height: 32px;
        }

        .footer-grid-column {
            margin: 10px;
            width: 100%;
        }

        .footer-grid h3 {
            margin-bottom: 0;
        }

        .footer-grid h4 {
            padding-left: 30px;
        }

        .footer-grid ul {
            margin-left: 50px;
        }

        .footer.lower {
            padding-top: 0;
        }

        .footer-grid-column ul li {
            line-height: 32px;
        }

        .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
            display: none;
        }

        .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color: rgba(0,0,0,0);
        }

        .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
            background-color: rgba(0,0,0,0.5);
        }

        .left, .right {
            width: 100%;
            display: block;
        }

        .first-slider .home.header .header-copy, .second-slider .home.header .header-copy, .third-slider .home.header .header-copy {
            width: 100%;
        }

        .home.header h2 {
            font-size: 20px;
            width: 100%;
            letter-spacing: 1px;
        }

        .fund-prices-ticker {
            width: 90%;
        }

        .header-copy {
            padding: 0 10%;
            box-sizing: border-box;
            top: 50%;
            -ms-transform: translate(0, -40%);
            -webkit-transform: translate(0, -40%);
            transform: translate(0, -40%);
        }

        .narrow-copy {
            width: 100%;
            padding: 0 10%;
            box-sizing: border-box;
        }

        .header-content.wide-image {
            height: 300px !important;
        }

        .header-content h2 {
            width: 100%;
            letter-spacing: 1px;
            font-size: 24px;
            line-height: 30px;
        }

        .inner-content {
            padding: 0 30px;
            max-width: 400px;
            margin: 0 auto;
        }

        .pointers-frame img {
            width: 140%;
            left: -20%;
        }

        .vision {
            margin-top: 0;
        }

        .pointers-info ul li {
            display: block;
            width: 100%;
            margin: 15px 0 !important;
            height: auto;
            padding: 20px;
        }

            .pointers-info ul li p {
                display: block;
            }

        .key-table {
            width: 90%;
        }

            .key-table tr td {
                width: 50%;
            }

            .key-table .table-desktop-hide {
                display: table-row;
            }

        .year-2, .year-3 {
            display: none;
        }

        .table-mobile-row-hide {
            display: none !important;
        }

        .table-mobile-cell-hide {
            display: none !important;
        }

        .key-table tr td.mobile-years {
            padding: 10px 0;
            text-align: center;
            width: 33%;
            cursor: pointer;
        }

        .mobile-years.active {
            background: #71a7b9;
            color: white;
        }

        .fund-table {
            width: 90%;
        }

        .footnote {
            width: 90%;
        }

        .profile p.desc {
            width: 90%;
        }

        .timeline {
            width: 100%;
            height: auto;
            padding-bottom: 50px;
        }

            .timeline .backbone {
                margin-left: 50%;
                left: -2px;
                height: auto;
                top: 0;
                bottom: 50px;
            }

            .timeline .dot.first,
            .timeline .dot.second,
            .timeline .dot.third,
            .timeline .dot.fourth,
            .timeline .dot.fifth,
            .timeline .dot.sixth {
                top: 0;
                margin-top: 50px;
            }

            .timeline .card {
                width: 90%;
            }

                .timeline .card.first,
                .timeline .card.second,
                .timeline .card.third,
                .timeline .card.fourth,
                .timeline .card.fifth,
                .timeline .card.sixth {
                    float: none;
                    top: 0;
                    margin: 20px auto 0 auto;
                    left: 0;
                }

            .timeline .dot.last {
                top: 0;
                margin-top: 0px;
            }

        .shareholding_structure .copy {
            width: 90%;
        }

        .pie-holder {
            width: 280px;
            height: auto;
        }

            .pie-holder img {
                width: 100px;
                top: 125px;
                left: 95px;
            }

            .pie-holder h4 {
                font-size: 20px;
                color: white;
            }

            .pie-holder .apex {
                top: 0px;
                right: 120px;
            }

            .pie-holder .med {
                top: 200px;
                right: 120px;
            }

            .pie-holder .others {
                top: 100px;
                left: 15px;
            }

            .pie-holder ul.desktop-hidden {
                display: block;
                width: 190px;
                margin: 20px auto 0 auto;
            }

                .pie-holder ul.desktop-hidden li {
                    position: relative;
                    display: block;
                }

                .pie-holder ul.desktop-hidden .legend {
                    vertical-align: middle;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: black;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                }

                    .pie-holder ul.desktop-hidden .legend.legend-apex {
                        background: #6c6c6c;
                    }

                    .pie-holder ul.desktop-hidden .legend.legend-med {
                        background: #375f92;
                    }

                    .pie-holder ul.desktop-hidden .legend.legend-others {
                        background: #b7dee8;
                    }

                .pie-holder ul.desktop-hidden h4 {
                    text-align: left;
                    font-size: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    margin: 10px 0px 10px 10px;
                }

        .pie-explanation {
            margin: 0;
        }

            .pie-explanation .left, .pie-explanation .right {
                margin: 40px auto;
            }

            .pie-explanation p {
                padding: 0 5%;
                text-align: center;
            }

        .about ul.tiles li {
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
            background: #9bc5d3;
        }

        .about .info {
            position: relative;
            width: 100%;
            left: 0;
            padding: 20px 10% 0px 10%;
            box-sizing: border-box;
            top: 0;
        }

        .about .face {
            position: relative;
            bottom: 0;
            height: auto;
            width: 80%;
            margin: 0 auto;
            right: 0;
            left: 0;
            margin-bottom: -10px;
        }

        .about .expandable-div-holder .face {
            position: absolute;
            width: 100%;
            height: auto;
            margin: 0;
        }

        .about img.bg {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: auto;
        }

        .expandable-div-content {
            padding: 0;
            overflow-y: auto;
        }

        .expandable-div-center {
            position: relative;
            height: auto;
            padding: 0;
            top: 60px;
            bottom: 0;
        }

        .expandable-div-content .profile-pic-holder {
            float: none;
            margin: 0 auto;
            display: block;
        }

        .expandable-div-content .profile-bio-holder {
            display: block;
            width: 100%;
            margin: 0; /*padding: 0 10%;*/
            box-sizing: border-box;
            height: auto;
            text-align: center;
        }

        .people .expandable-div-content .profile-bio-holder {
            padding: 0 10%;
        }

        .about .info.noPic {
            top: 0;
            height: auto;
            padding: 20px 10% 20px 10%;
        }

        .about .noPic ~ .bg {
            width: 100%;
            height: auto;
        }

        .about ul.tiles li:hover {
            box-shadow: none;
        }

        #trustee h2 {
            width: 100%;
            margin-top: 0;
        }

        #chart {
            padding: 0;
        }

        .single .content {
            white-space: normal;
        }

        .risks h3 {
            padding: 20px 5% 0 5%;
        }

        .single ul.ticks {
            margin: 0;
        }

            .single ul.ticks li {
                margin: 12px auto;
                width: 140px;
            }

        .invest .text-justify {
            text-align: center;
        }

        .upper-li {
            height: auto;
            width: 100%;
            padding: 15px 35px;
            box-sizing: border-box;
            line-height: unset;
        }

            .upper-li img {
                margin: auto 0;
                top: 0;
                bottom: 0;
                right: 10px;
            }

        .single ul li .lower-li {
            width: 100%;
        }

        .single .monitor {
            width: 100%;
        }

            .single .monitor .narrow-copy {
                margin-bottom: 10px;
            }

            .single .monitor a .big-box {
                width: 90%;
                height: auto;
                margin: 10px 0;
                padding: 30px 20px;
            }

            .single .monitor .monitor-expand {
                position: fixed;
                top: 80px;
                width: 100%;
                left: 0;
                height: auto;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
                margin: 0;
                display: none;
                overflow-y: auto;
            }

                .single .monitor .monitor-expand .bg {
                    display: none;
                }

        .monitor-expand .close-btn {
            position: absolute;
            top: 10px;
        }

        #annual_statement, #other_services {
            width: 80%;
            background: white;
            position: absolute;
            margin: 50px auto;
            left: 0;
            right: 0;
        }

        .single table {
            width: 90%;
        }

        .single .a ul li {
            width: 90%;
            padding: 10px 20px 10px 70px;
        }

        .single .risks ul li .special-upper-li {
            padding: 20px 40px;
            box-sizing: border-box;
        }

            .single .risks ul li .special-upper-li img {
                top: 0;
                bottom: 0;
                margin: auto;
                position: absolute;
                right: 10px;
                width: 25px;
            }

        .products .resources ul li {
            width: 100%; /*padding: 0 20px;*/
            box-sizing: border-box;
        }

        .products .product-details {
            padding: 0 10%;
            box-sizing: border-box;
        }

        .products .expandable-div-content .face, .products .expandable-div-content .profile-bio-holder h3 {
            margin: 0 auto;
            display: block;
        }

        .products .expandable-div-content .profile-bio-holder h4 {
            margin: 20px 0 0 0;
            text-align: center;
        }

        .products .expandable-div-content .profile-bio-holder table.detail-line tr td, .products .expandable-div-content .profile-bio-holder table.detail-line tr td:first-child {
            display: block;
            width: 100%;
            border: 0;
            padding: 10px 0;
            margin: 0;
        }

        .products .expandable-div-content ul {
            margin-bottom: 10px;
        }

        .products .expandable-div-content .profile-bio-holder table.detail-line {
            margin: 0;
        }

        .products.private_mandate p {
            width: 100%;
        }

        .popup-tnc-box {
            width: 80%;
        }

        .popup-tnc h3 {
            font-size: 18px;
            margin: 15px 30px;
        }

        .control {
            margin-top: 0;
        }

            .control .inline {
                display: block;
                margin: 10px auto;
            }

            .control select, #historical_fund_prices .control input {
                width: 100%;
                box-sizing: border-box;
                margin: 0 auto;
            }

                #historical_fund_prices .control input#search_prices {
                    margin: 20px 0;
                }

        table#show_funds {
            width: 100%;
            margin-top: 20px;
        }

        #distribution_table {
            width: 100%;
        }

        .control input[type=submit] {
            width: 100%;
            margin: 20px auto 0px auto;
        }

        #distribution_table tr th {
            font-size: 12px;
        }

        .fund_cat_btn {
            text-align: left;
        }

        .resources .erm h4 {
            font-size: 18px;
        }

        .fund_cat_btn img {
            width: 24px;
            top: 4px;
            right: -5px;
        }

        .resources .erm ul li {
            width: 100%;
        }

        .resources .erm .third-degree {
            width: 100%;
            padding: 0;
        }

        #news_table {
            width: 100%;
            table-layout: fixed;
        }

            #news_table tr td {
                display: block;
                box-sizing: border-box;
            }

            #news_table p.overflow {
                width: 100%;
            }

        .inner-news .header-content.bg-dark-blue {
            height: 300px;
        }

        .inner-news .content.narrow {
            padding: 0 10%;
            box-sizing: border-box;
        }

        .single.contact .left, .single.contact .right {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        .single.contact .map-container .left, .single.contact .map-container .right {
            display: block;
            margin: 10px auto;
        }

        .single.contact .map-container img {
            word-wrap:
        }

        #contact_form {
            width: 100%;
        }

        .single.contact form p {
            width: 100%;
        }

        #contact_form input {
            width: 100%;
        }

        #contact_form a.rounded-btn {
            margin-right: 10px;
            float: right;
            display: inline;
        }

        .single.contact p {
            width: 100%;
            margin-bottom: 10px;
        }

        .narrow-copy.contact_faq {
            padding: 0 5%;
        }
    }

    @media only screen and (min-width: 400px) and (max-width: 768px) {
        /*.footer-grid-column {width: 100px;}*/
        /*.control p {margin: 0 10px;}
	.control p.lol {margin: 0 10px;}*/


    