﻿
#form1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

    #form1 h1 {
        margin: 0 0 30px;
        padding: 0;
        color: white;
        text-align: center;
        font-family: 'Raleway', Helvetica, Arial;
    }

.box {
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
}

    .box:focus {
        border-color: #2A64D8;
        box-shadow: 0 0 8px 0 #2A64D8;
    }

.btn {
    font-family: 'Raleway', Helvetica, Arial;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 32px 5px 32px;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: #2A64D8;
    display: inline-block;
    width: auto;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

    .btn:hover {
        color: white;
        text-decoration: none;
        background-color: #6F99EE;
    }


.kfi {
    font-family: 'Raleway', Helvetica, Arial;
    font-size: 15px;
    border-radius: 3px;
    background-color: #F4F5F8;
    cursor: pointer;
    border: 1px solid #cecece;
}

.ddlbox1 {
    display: block;
    width: 35%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ddlbox2 {
    display: block;
    width: 65%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

