﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.Master" AutoEventWireup="true" CodeBehind="Invest.aspx.cs" Inherits="AdminApex.invest" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
        <div class="popup-tnc">
	<div class="popup-tnc-bg"></div>
	<div class="popup-tnc-box">
		<h3>To proceed, please read and agree to our terms.</h3>
		<div class="popup-tnc-box-copy">
			<p>This Website is owned and managed by Astute Fund Management Berhad ("AFMB"). We advise you to read these Terms and Conditions of Use ("Terms") carefully before using the Website. By accessing and/or using the Website you are deemed to accept and be bound by these Terms, therefore if you do not wish to be bound by these Terms you should not access or use the Website. This Terms a binding contract between you and AFMB. It governs your use of this Website and all products, content and information available through this Website. By using or accessing this Website, you accept and agree to be bound by these Terms.</p>
			<p>Further, AFMB is responsible for the issuance, circulation or dissemination of the electronic prospectus, electronic supplementary prospectus (if any) and electronic application form. AFMB may modify, suspend, discontinue, or restrict the use and availability of any portion of this Website at any time, without notice or liability. Your use of this Website is governed by the version of the Terms in effect on the date this Website is accessed by you. We reserve the right to withdraw and/or amend services or content on the Website without notice and we accept no liability, no matter how that may be caused, arising from us doing so and you will be deemed to have agreed to the Terms, as amended.</p>
			<p>The content of this Website does not constitute as an offer to sell or a solicitation of any offer to buy any of the investment products contained in this Website by anyone in any other jurisdiction. The investment products contained in this Website are made available in Malaysia and to any person in Malaysia only. The information contained in this Website is for general information only and it does not take into account to any particular investor's circumstances. All information, statements and/or descriptions available are intended solely for the use by Malaysian residents only and any currency references shall be in Ringgit Malaysia unless otherwise specified. Any investment in unit trusts, and/or other investment products is subject to investment risks, including the possible loss of the principle amount invested. The value of the units and the income from them may fall as well as rise. Past performance figures are not necessarily indicative of future performance of the unit trust.</p>

			<h4>LIMITED LICENCE AND RESTRICTIONS ON USE</h4>
			<p>AFMB permits you to use and access the Website on a personal, non-commercial basis. You may not copy or make commercial use of the Website or any of the content including, but not limited to, information, imagery or data from, or underlying, the Website without obtaining our express written permission to do so. AFMB reserves all rights not expressly granted in these Terms. Except as otherwise stated in these Terms, <b>you may not:</b></p>
			<ul>
				<li>Modify, copy, distribute, transmit, post, display, perform, reproduce, publish, broadcast, license, create derivative works from, transfer, sell, or exploit any reports, data, information, content, software, products, services, or other materials on, generated by or obtained from this Website, whether through links or otherwise (collectively, "Materials");</li>
				<li>Redeliver any page, text, image, or Materials on this Website using "framing" or other technology;</li>
				<li>Engage in any conduct that could damage, disable, or overburden (i) this Website, (ii) any Materials or services provided through this Website, or (iii) any systems, networks, servers, or accounts related to this Website, including without limitation, using devices or software that provide repeated automated access to this Website, other than those made generally available by AFMB;</li>
				<li>Probe, scan, or test the vulnerability of any Materials, services, systems, networks, servers, or accounts related to this Website or attempt to gain unauthorised access to Materials, services, systems, networks, servers, or accounts connected or associated with this Website through hacking, password or data mining, or any other means of circumventing any access-limiting, user authentication or security device of any Materials, services, systems, networks, servers, or accounts related to this Website;</li>
				<li>Remove copyright, trade mark or other intellectual property notices on any downloaded or printed document, or otherwise act in a way to cause or risk causing infringement, a weakening of, or damage to or our brand, intellectual property or business;</li>
				<li>Include the term "Astute Fund Management Berhad," and “AFMB” or any AFMB trademark or executive's name, or any variation of the foregoing, as a meta-tag, hidden textual element, or any other indicator that creates an impression of affiliation, sponsorship, or endorsement by AFMB; </li>
				<li>Make available or replicate any content, information, imagery or data from, or underlying, the Website and use it in such a way as to cause or risk causing confusion or an association as between you or your activities (or a third party or their activities) and us and our activities, including but not limited to phishing; and</li>
				<li>Allowed to use the material or act in a manner so as to associate or risk associating us with any content which is or might be harmful, including without limitation material which is offensive, threatening, obscene, abusive, discriminatory, defamatory, in breach of confidence, in breach of privacy, infringes any intellectual property rights or other rights of any third party or otherwise does not comply with all applicable laws and regulations.</li>
			</ul>

			<h4>LINKING CONDITION</h4>
			<p>You may not link to this Website unless you have our prior written consent.</p>
			<p><b>WE ARE NOT RESPONSIBLE FOR ANY THIRD-PARTY, THEIR PRODUCTS OR SERVICES, THEIR WEBSITE, OR ANY CONTENT MADE AVAILABLE THROUGH SUCH THIRD-PARTY SITES, NOR DO WE MAKE ANY WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, REGARDING THIRD PARTY CONTENT (OR ITS ACCURACY) ON ANY THIRD-PARTY SITES, AND WE SHALL HAVE NO LIABILITY OF ANY NATURE WHATSOEVER IN RELATION TO ANY OF THE FOREGOING.</b></p>

			<h4>IMPORTANT LEGAL INFORMATION</h4>
			<p>Although we have taken the necessary steps to ensure the system security and integrity, we would advise that by performing online transactions and activities, you are exposed to the inherent risks of online transactions and you agree to assume such risk. You should be aware that the inherent risk list is not exhaustive; including but not limited to identity theft, confidentiality of data which may be illegally intercepted by third party, unauthorised data access by third party, fraudulent emails or fraudulent acts.</p>
			<p>No solicitations. Nothing on this Website shall be considered a solicitation to buy or an offer to sell, or a recommendation for, a security, or any other product or service, to any person in any jurisdiction where such solicitation, offer, recommendation, purchase or sale would be unlawful under the laws of that jurisdiction. If you are in doubt about any of the selling restrictions, please consult your stock broker, lawyer, accountant, bank manager, or other professional adviser.</p>
			<p>The investment products contained in this Website are strictly intended to be made available in Malaysia or to any person in Malaysia only who is residing in Malaysia including the permanent resident, non-permanent resident and citizens of Malaysia.</p>
			<p>All application requests for transactions shall only be made either through conventional application (by walk in or through our unit trust consultants). </p>
			<p>You may invest in unit trusts by the conventional way and walk in to our business office at Astute Fund Management Berhad, 3rd Floor, Menara MBSB, 46 Jalan Dungun, Damansara Heights, 50490 Kuala Lumpur or submit your applications through our unit trust consultants.</p>
			<p>Failure by AFMB to enforce any provision(s) of these Terms shall not be construed as a waiver of any provision or right. This Website is controlled and operated by AFMB from its office within Malaysia. The laws of the Malaysia govern these Terms.</p>
			<p><b>Please carefully consider the fund's investment objectives, risks, fees, charges and expenses before investing. For this and other information, call or write to AFMB for a free prospectus, or view one online. Read it carefully before you invest or send money.</b></p>
			<p><b>Applicant should be 18 years old and above at the date of the application.</b></p>

			<h4>PROSPECTUS, SUPPLEMENTARY PROSPECTUS, APPLICATION FORM AND OTHERS</h4>
			<p>We recommend that you read and understand the contents of the respective fund's prospectus/supplemental prospectus (if any), product highlights sheet (“PHS”) or information memorandum / replacement information memorandum before investing in any of the funds. A copy of the funds' prospectus / supplemental prospectus (if any), PHS or information memorandum / replacement information memorandum featured in this Website has been registered or lodged with the Securities Commission Malaysia.</p>
			<p>Copies of the prospectus/supplemental prospectus (if any), PHS or information memorandum / replacement information memorandum are available at our representative office at Astute Fund Management Berhad, 3rd Floor, Menara MBSB, 46 Jalan Dungun, Damansara Heights, 50490 Kuala Lumpur.</p>
			<p>You acknowledge that any information that falls outside the designated area of the prospectus in this Website does not form part of the electronic prospectus and that the unit trusts are offered solely on the basis of the information contained in the electronic prospectus.</p>
			<p>For Fund(s) with a Prescribed Period,</p>
			<ol>
				<li>Please refer to the respective Prospectus(es) for the closing date of the application period;</li>
				<li>No units of the Fund(s) will be issued on the basis of the electronic Prospectus(es) after the closing date.</li>
				<li>The electronic Prospectus(es) is made available for purely informational and archiving purposes after the closing date.</li>
			</ol>

			<h4>DATA, INFORMATION, AND CONTENT</h4>
			<p>The Materials on this Website are for information, education, and non-commercial purposes only. No investment recommendations or professional advice. This Website is not intended to provide any tax, legal, insurance, financial or investment advice, and nothing on the Website should be construed as a recommendation to acquire or dispose of any investment or security, or to engage in any investment strategy or transaction. You alone are solely responsible for determining whether any investment, security or strategy or any other product or service, is appropriate or suitable for you based on your investment objectives and personal and financial situation. You should consult an attorney or tax professional regarding your specific legal or tax situation.</p>

			<h4>INTERNATIONAL USE</h4>
			<p>Because of the global nature of the Internet, you agree to comply with all local rules with respect to your account and your online conduct, including all laws, rules, codes, and regulations of the country in which you reside and the country from which you access this Website, including without limitation, all laws, rules, codes, regulations, decrees, acts, orders, directives, legislation, bills, and statutes pertaining to tax, contracts, intellectual property, securities, e-commerce, banking, technology, computers, fraud, and privacy. In addition, you agree to comply with all applicable laws, rules, codes, and regulations regarding the transmission of technical data exported from the Malaysia.</p>
			<p>Each investment product and service referred to on this Website is intended to be made available only to MALAYSIAN residents. This Website will not be considered a solicitation for or offering of any investment product or service to any person in any jurisdiction where such solicitation or offering would be illegal.</p>

			<h4>THIRD-PARTY CONTENT</h4>
			<p>Data and other materials appearing on this Website that are provided by third parties are believed by AFMB to be obtained from reliable sources, but AFMB cannot guarantee their accuracy, timeliness, completeness, or suitability for use. AFMB is not responsible for, and does not prepare, edit, or endorse, the content, advertising, products, or other materials on or available from any Website owned or operated by a third party that is linked to this Website via hyperlink. The fact that AFMB has provided a link to a third party's Website does not constitute an implicit or explicit endorsement, authorisation, sponsorship, or affiliation by AFMB with respect to such Website, its owners, providers, or services. You will use any such third-party content at your own risk.</p>

			<h4>TIMELINESS OF CONTENT</h4>
			<p>All content on this Website is presented only as of the date published or indicated, and may be superseded by subsequent market events or for other reasons. In addition, you are responsible for setting the cache settings on your browser to ensure you are receiving the most recent data.</p>

			<h4>TERMINATION</h4>
			<p>You acknowledge and agree that AFMB may restrict, suspend or terminate the Terms or your access to, and use, of the all or any part of Website, including any links to third-party sites, at any time, with or without cause.</p>

			<h4>WARRANTY DISCLAIMERS</h4>
			<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
			<p>YOUR USE OF THIS WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE FULL EXTENT PERMITTED UNDER APPLICABLE LAW, AFMB AND ITS AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS,CONSULTANTS, LICENSORS, AND ANY THIRD-PARTY INFORMATION PROVIDERS EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, NONINFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ALL WARRANTIES REGARDING SECURITY, CURRENCY, CORRECTNESS, QUALITY, ACCURACY, COMPLETENESS, RELIABILITY, PERFORMANCE, TIMELINESS, OR CONTINUED AVAILABILITY, WITH RESPECT TO (I) THE WEBSITE; (II) ANY MATERIALS, PRODUCTS, OR SERVICES AVAILABLE ON OR THROUGH THE WEBSITE; (III) USE OF THE WEBSITE, MATERIALS, PRODUCTS, OR SERVICES; AND (IV) THE RESULTS OF THE USE OF THE WEBSITE, MATERIALS, PRODUCTS, OR SERVICES.</p>
			<p>FURTHER, AFMB AND ITS AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, CONSULTANTS, LICENSORS, AND ANY THIRD-PARTY INFORMATION PROVIDERS EXPRESSLY DISCLAIM ALL WARRANTIES WITH RESPECT TO ANY DELAYS OR ERRORS IN THE TRANSMISSION OR DELIVERY OF THE MATERIALS, PRODUCTS, OR SERVICES.</p>
			<p>EXCEPT AS PROVIDED BY LAW, NEITHER AFMB NOR ITS THIRD-PARTY INFORMATION PROVIDERS HAS ANY RESPONSIBILITY TO MAINTAIN THE MATERIALS, PRODUCTS, OR SERVICES OFFERED ON THE WEBSITE OR TO SUPPLY CORRECTIONS, UPDATES, OR RELEASES FOR THE SAME.</p>
			<p>TO THE EXTENT ANY JURISDICTION DOES NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY HAVE OTHER RIGHTS, WHICH VARY FROM JURISDICTION TO JURISDICTION.</p>

			<h4>LIABILITY AND INDEMNITY</h4>
			<p>YOU AGREE THAT UNDER NO CIRCUMSTANCES WILL THE AFMB PARTIES BE LIABLE FOR ANY DAMAGES, WHETHER DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES (COLLECTIVELY, THE "EXCLUDED DAMAGES"), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF OR INABILITY TO USE THIS WEBSITE FURTHER, THE AFMB PARTIES WILL NOT BE RESPONSIBLE FOR YOUR FAILURE TO COMPLY WITH THESE TERMS OR WITH APPLICABLE FEDERAL, STATE AND LOCAL LAWS. </p>
			<p>THESE LIMITATIONS OF LIABILITY WILL APPLY, EXCEPT WHERE IT RELATES TO INFORMATION STATED IN INFORMATION MEMORANDA REGARDLESS OF: (I) ANY NEGLIGENCE OR GROSS NEGLIGENCE OF ANY AFMB PARTY OR (II) WHETHER THE LIABILITY SOUNDS IN NEGLIGENCE, STRICT LIABILITY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER THEORY OF LEGAL LIABILITY; AND WILL REMAIN IN EFFECT EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE</p>
			<p>You agree to indemnify, defend, and hold harmless AFMB, its affiliates, and each of its and their officers, directors, employees, consultants and agents, from and against all claims, demands, liabilities, damages, losses, or expenses, including attorney's fees and costs, arising out of or related to your improper access to or use of this Website, or any violation by you of these Terms.	</p>

			<h4>SEVERABILITY</h4>
			<p>If any provision of these Terms is deemed unlawful, void, or unenforceable, then that provision will be deemed severable from these Terms and will not affect the validity and enforceability of the remaining provisions. These Terms represent the entire agreement between you and AFMB relating to the subject matter herein.</p>

			<h4>CONTACT US</h4>
			<p>If you have any other questions or would like an alternative method of reaching us, please click <a href="http://staging.apexis.com.my/contact" target="_blank">Contact Us</a>.</p>
		</div>
		<div class="popup-tnc-cta">
			<a href="javascript:;" class="rounded-btn bg-gray font-black popup-agree">I agree</a>
		</div>
	</div>
    </div>
 <div class="single invest" id="get_link" data-page="">

        <div class="content pages">

            <div class="about header bg-white">

                <div class="header-content wide-image">
                    <img src="/ICONPIC/APEX_Header_investwithapex.jpg" />

                    <div class="header-copy">

                        <h2>WORKING TODAY,<br />FOR TOMORROW's OPPORTUNITIES.</h2>

                        <!-- <p>Local markets expertise sharpened over decades.</p> -->

                        <!-- <img class="apex-line" src="<img src="ICONPIC/apex-line.png" />"/> -->

                    </div>

                </div>

            </div>

        </div>

        <div class="content narrow">

            <div class="narrow-copy">

                <h3 class="first">What is a unit trust?</h3>

                <p>Unit Trust is a form of collective investment that allows investors with similar investment objectives to pool their funds to be invested in a portfolio of securities or other assets.</p>

                <p>A professional fund manager then invests the pooled funds in a portfolio which may include the asset classes listed below:</p>

            </div>

            <ul class="ticks">

                <li>
                    <img src="/ICONPIC/tick.png" />

                    <p>Cash</p>

                </li>
                <li>
                    <img src="/ICONPIC/tick.png" />

                    <p>Commodities</p>

                </li>


                <li>
                    <img src="/ICONPIC/tick.png" />

                    <p>Shares</p>

                </li>

                <li>
                    <img src="/ICONPIC/tick.png" />

                    <p>Properties</p>

                </li>

                <li>
                    <img src="/ICONPIC/tick.png" />


                    <p>Bonds &amp; Deposits</p>

                </li>

            </ul>

            <div class="left text-justify">

                <p>Unit holders do not own the securities in the portfolio directly. Ownership of the fund is divided into units of entitlement. As the fund increases or decreases in value, the value of each unit increases or decreases accordingly. The number of units held depends on the unit purchase price at the time of investment and the amount of money invested.</p>

                <p>The return on investment of unit holders is usually in the form of income distribution and capital appreciation, derived from the pool of assets supporting the unit trust fund. Each unit earns an equal return, determined by the level of distribution and/or capital appreciation in any one period.</p>

                <p>Unit trust investors are typically those with savings to invest, who neither have the time nor the inclination to hold portfolios of direct investments or shares. Rather, they prefer to invest in a secure, reputable investment vehicle which suits their purposes. Unit trusts allow investors to have easy access to a wide range of investments not normally available to them.</p>

            </div>

            <div class="right text-justify">

                <p>As investors seek to maximise returns on their financial resources, unit trusts may provide an ideal way for them to gain exposure to investments that, in the long run, may produce returns superior to cash savings and fixed deposit investments.</p>

                <p>The cost of these potentially higher returns is of course the risk that accompanies the investment. In the short term, the certainty of investment returns of most unit trust products is less than those offered by fixed deposits. However, in the medium to long term (i.e. 3-20 years), unit trust investments may provide better returns at acceptable levels of risk.</p>

            </div>

            <div class="underline"></div>

            <div class="narrow-copy benefits-of">

                <h3>Benefits of a unit trust</h3>

                <p>For an individual to maintain his own portfolio of investments, he needs to keep up to date with market information and sentiments. In today’s sophisticated financial markets, this means having to embrace a wide range of information from a plethora of sources. For many individual investors, this is difficult, if not impossible and at times, very frustrating as they attempt to ‘keep on top’ of the information pile.</p>

                <p>Investing in unit trusts transfers most of the necessary ‘know-how’ of investing to those best equipped to handle it – the professional fund managers. There are a number of other substantial benefits of investing in unit trusts that should be noted.</p>

                <a class="text-with-icon font-light-blue" id="accord_benefits" href="javascript:;"><span>Learn more</span><img class="plus-minus" src="/ICONPIC/plus-icon.png" /></a>

                <ul id="benefits">

                    <li>

                        <div class="upper-li">Affordability<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>Unit trusts are very affordable. Investors can start with an investment amount as low as RM200 (regular savings plan).</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">Diversification<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>Instead of owning 1-2 securities,  a portfolio of market securities can be held. The wider the spread of investments, the less volatile the investment returns will be. In simple terms, investing in a unit trust means a diversification of risk i.e. not putting all your eggs in one basket.</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">Liquidity<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>Most investors prefer their investments to be liquid. That is, they can easily buy and sell without difficulties. Unit trusts can be easily bought and sold. An investment that cannot be “cashed-in” (i.e. sold) constitutes an additional risk factor for the investor.</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">Professional Fund Management<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>The people entrusted to manage unit trusts are approved professionals. Their training and background ensures that their decision making is structured and consistent with sound investment principles. In the process, unit trust funds benefit from the depth of knowledge and experience that a fund manager can bring.</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">Investment Exposure<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>For the individual investor, it is sometimes difficult to gain exposure to a particular asset class. For instance, if an investor with RM5,000 wants to gain exposure to the Malaysian property market, global equity markets and the Malaysian bond market simultaneously, this would be difficult to achieve. With unit trust investments, it is possible to gain exposure to arrange of sectors for a gwen sum of investment.</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">Wholesale Investment Costs &amp; Access to other Asset Classes<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>When making direct investments on Bursa Malaysia, the investor faces costs and charges that are much higher. With unit trusts, the economics of the transaction are more favourable i.e. the fees and charges/brokerage etc. per investment Ringgit are likely to be less. As the fund manager invests in larger amounts, they are able to get access to better rates and products. For instance, unlike unit trust funds, most individual investors cannot have direct access to the Malaysian Government Security market because, amongst other reasons, the amount of each transaction could run into millions of Ringgit.</p>

                        </div>

                    </li>

                    <li>

                        <div class="upper-li">The Comfort of Regulation<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                        <div class="lower-li">

                            <p>The unit trust industry is governed by the Securities Commission Malaysia and bodies such as Federation of Investment Managers Malaysia (FIMM). There are wide-ranging rules and guidelines which are aimed at protecting the interest of the investing public.</p>



                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <div class="content get-started">
            <img class="bg" src="/ICONPIC/get-started.jpg" />

            <div class="content narrow">

                <div class="narrow-copy">

                    <h3 class="font-white">How to get started</h3>

                    <p class="font-white">Explore multiple investment plans of your interest and learn the application forms and documents you’ll need to get started.</p>

                    <a class="text-with-icon font-white" id="accord_how" href="javascript:;"><span>Learn more</span><img class="plus-minus" src="/ICONPIC/plus-icon-light.png" /></a>

                    <ul class="font-white" id="get-started-list">

                        <li>

                            <div class="upper-li">Cash<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <ol>
                                    
                                    <li><a href="InvestFile/1.52291489969E+12_MasAcc_Complete2018.pdf" target="_blank">Master Account Application Form</a></li>

                                    <li><a href="InvestFile/0_QuickForm.pdf_1494956859307.pdf" target="_blank">Quickform</a></li>

                                    <li><a href="InvestFile/1.49881927942E+12_SAT2017_individual(1).pdf" target="_blank">Suitability Assessment Test Form</a></li>

                                    <li><a href="InvestFile/1.52291486108E+12_PreFIMM2017.pdf" target="_blank">FIMM Pre-Investment Form</a></li>

                                    <li><a href="InvestFile/1.52291480561E+12_FATCAIndividualOpeningForm_final.pdf" target="_blank">FATCA Form</a></li>

                                    <li><a href="InvestFile/CRS%20FORM-%20Individual.pdf" target="_blank">Common Reporting Standard(CRS) - Individual</a></li>
                                    
                                    <li>Photocopy of IC (front &amp; back on an A4 paper)</li>

                                    <li>Cheque/Bank Draft/Bank in Receipt </li>

                                </ol>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Regular Savings Plan<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <ol>

                                    <li><a href="InvestFile/1.52291489969E+12_MasAcc_Complete2018.pdf" target="_blank">Master Account Application Form</a></li>

                                    <li><a href="InvestFile/0_QuickForm.pdf_1494956859307.pdf" target="_blank">Quickform</a></li>

                                    <li><a href="InvestFile/1.49881927942E+12_SAT2017_individual(1).pdf" target="_blank">Suitability Assessment Test Form</a></li>

                                    <li><a href="InvestFile/1.52291486108E+12_PreFIMM2017.pdf" target="_blank">FIMM Pre-Investment Form</a></li>

                                    <li><a href="InvestFile/1.52291480561E+12_FATCAIndividualOpeningForm_final.pdf" target="_blank">FATCA Form</a></li>

                                    <li><a href="InvestFile/1.49881929766E+12_AUTHORISATIONDIRECTDEBIT.pdf" target="_blank">Authorisation to Direct Debit</a></li>

                                    <li><a href="InvestFile/CRS%20FORM-%20Individual.pdf" target="_blank">Common Reporting Standard(CRS) - Individual</a></li>

                                    <li>Photocopy of IC (front &amp; back on an A4 paper)</li>

                                    <li>Cheque/Bank Draft/Bank in Receipt</li>

                                </ol>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">EPF<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <ol>

                                   <li><a href="InvestFile/1.52291489969E+12_MasAcc_Complete2018.pdf" target="_blank">Master Account Application Form</a></li>

                                    <li><a href="InvestFile/0_QuickForm.pdf_1494956859307.pdf" target="_blank">Quickform</a></li>

                                    <li><a href="InvestFile/1.49881927942E+12_SAT2017_individual(1).pdf" target="_blank">Suitability Assessment Test Form</a></li>

                                    <li><a href="InvestFile/1.52291486108E+12_PreFIMM2017.pdf" target="_blank">FIMM Pre-Investment Form</a></li>

                                    <li><a href="InvestFile/1.52291480561E+12_FATCAIndividualOpeningForm_final.pdf" target="_blank">FATCA Form</a></li>

                                    <li><a href="InvestFile/CRS%20FORM-%20Individual.pdf" target="_blank">Common Reporting Standard(CRS) - Individual</a></li>

                                    <li>Photocopy of IC (front &amp; back on an A4 paper-crossed for EPF Use Only)</li>

                                    <li>KWSP 9N (AHL) Form (must use original form)</li>

                                </ol>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Non-Individual / Corporate<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <ol>

                                    <li><a href="InvestFile/1.52291489969E+12_MasAcc_Complete2018.pdf" target="_blank">Master Account Application Form</a></li>

                                    <li><a href="InvestFile/0_QuickForm.pdf_1494956859307.pdf" target="_blank">Quickform</a></li>

                                    <li><a href="InvestFile/1.49881928859E+12_SAT2017_Non_individual(1).pdf" target="_blank">Suitability Assessment Test Form</a></li>

                                    <li><a href="InvestFile/1.52291486108E+12_PreFIMM2017.pdf" target="_blank">FIMM Pre-Investment Form</a></li>

                                    <li><a href="InvestFile/1.52291480561E+12_FATCAIndividualOpeningForm_final.pdf" target="_blank">FATCA Form</a></li>

                                    <li><a href="InvestFile/CRS%20FORM-%20Non-%20Individual.pdf" target="_blank">Common Reporting Standard(CRS) - [Non-Individual]</a></li>

                                    <li><a href="InvestFile/CRS%20FORM-%20Controlling%20Person.pdf" target="_blank">Common Reporting Standard(CRS) - Controlling Person</a></li>
                                    <li>Board Resolution*</li>

                                    <li>List of Authorised Signatories* &amp; Photocopy of IC*</li>

                                    <li>Memorandum &amp; Articles of Associations – M&amp;A*</li>

                                    <li>Form 8 (for Bhd. company)* or  Form 9 (for Sdn. Bhd. company)*</li>

                                    <li>Form 24*</li>

                                    <li>Form 44*</li>

                                    <li>Form 49*</li>

                                    <p>*Certified True Copy by company secretary</p>

                                </ol>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Application &amp; Acceptance<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Cut-off time for Cash Investment: before  4pm</p>

                                <p>Cut-off time for EPF Investment Schemes: before 12pm</p>

                                <p>Cut-off time for Money Market's Cash Investment: before 10am</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Sale and Purchase of Units<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>All applications for buying and selling of Units and any other requests should be sent directly to our office with details as follows:</p>

                                <p>
                                    <b>Business Office:</b>

                                    Astute Fund Management Berhad
                                    <br>
                                    3rd Floor, Menara MBSB,
                                    <br>
                                    46, Jalan Dungun,
                                    <br>
                                    Damansara Heights,
                                    <br>
                                    50490 Kuala Lumpur.
                                    <br>
                                    Tel: <a href="tel:+60320959999" class="font-light-blue">(603) 2095 9999</a><br>
                                    Fax: <a href="tel:+60320950693" class="font-light-blue">(603) 2095 0693</a><br>
                                    Email: <a href="mailto:enquiry@astutefm.com.my" class="font-light-blue">enquiry@astutefm.com.my</a><br>
                                </p>

                                <p>Alternatively, investors can purchase Units of the Funds with any of our appointed consultants who have registered with the "FIMM" and issued with FIMM authorisation cards.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Payment Method<img class="plus-minus" src="ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <ul>

                                    <li><b>Cheques / Bank Drafts</b></li>

                                <p>Cheques and bank drafts must be drawn on a bank located in RM, crossed and made payable to <i>“Astute Fund Management Berhad - Clients Trust Account”</i> and attached to the application. Post-dated cheques will not be accepted. Any charges arising due to returned cheque from the investor will be borne by the investor.</p>
                            <li><b>Telegraphic Transfer</b></li>

								<p>Telegraphic transfers should be remitted in RM to any of the bank accounts stated below. A copy of the receipt from the forwarding bank must be sent together with the application. Please note that any bank charges and /or other fees levied by the remitting bank for undertaking a telegraphic transfer shall be borne by the investor.</p>

                            <p>Account Name : Astute Fund Management Berhad - Clients Trust Account<br>
                                Bank details :</p>

                            <p>
                                Maybank Islamic Berhad<br>
                                100 Jalan Tun Perak
                                <br>
                                Kuala Lumpur.
                                <br>
                                Account No: 5640-1662-7254<br>
                            </p>



                            <li><b>Direct Deposit</b></li>

                            <p>Cash and cheque can be deposited directly into the bank account at any branch of Maybank Islamic Berhad, using the account numbers stated above. However, for cash deposit, additional information will be required from the investor by the Manager to ensure compliance with the Anti-Money Laundering, Anti-Terrorism Financing and Proceeds of Unlawful Activities Act 2001.</p>

                            <p>A copy of the pay-in slip must be sent together with investor’s application, either by fax or post. Any incomplete pay-in slip will not be executed. Please note that the instruction to purchase Units will be executed on the date on which the completed documents are received or deemed received by the Manager.</p>

                    </ul>

                </div>

                </li>

				</ul>

            </div>

        </div>

    </div>

    <div class="content narrow">

        <div class="monitor">

            <div class="bg-gray"></div>

            <div class="narrow-copy">

                <h3>How to monitor</h3>

                <p>Once you’ve started investing, tracking and monitoring your investment are important. Keep yourself updated through the documents below.</p>

            </div>

            <a href="javascript:;" class="font-white" id="annual_statement_btn">

                <div class="big-box first">

                    <h4>Statements</h4>

                    <p>You’ll be given regular statements to help you keep track of your investments. Please see “What Will You Receive”.</p>

                </div>

            </a>

            <a href="javascript:;" class="font-white" id="other_services_btn">

                <div class="big-box second">

                    <h4>Other Services</h4>

                    <p>Publication of Prices</p>

                </div>

            </a>

            <div class="monitor-expand">

                <a href="javascript:;">
                    <img class="close-btn" src="ICONPIC/close-btn.png" /></a>
                <img class="bubble-pin" src="ICONPIC/bubble-pin.png" />

                <div class="bg"></div>

                <div class="content" id="annual_statement">

                    <p>You’ll be given the Statements, which entails the following information to keep track of your investments.</p>

                    <ol>

                        <li><b>Portfolio Holding</b></li>

                        <li><b>Transactions Completed During the Period</b></li>

                        <li><b>Financial Reports</b></li>

                    </ol>

                </div>

                <div class="content" id="other_services">

                    <p><b>Publication of Prices</b></p>

                    <p>
                        Fund performance rankings as evaluated by independent performance measurement firms are available in certain financial publications.

						While the Manager will ensure the accuracy and the availability of the prices to the press for publication, the Manager, however, will not be held liable for any error or omission in prices finally published in the press as this is beyond the Manager’s realm of control. In the event of any conflict between the prices published by the press and the prices quoted by the Manager, the Manager’s quotes shall prevail.

						Unit holders/Investors may also obtain the latest information on FBM KLCI and other important news on FBM KLCI via our website at <a href="//www.apexis.com.my" target="_blank">www.apexis.com.my</a>
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="content narrow">

        <div class="narrow-copy">

            <h3 class="special">What Will You Receive</h3>

        </div>

        <table>

            <tr>

                <th>Type of Transaction</th>

                <th>What Will You Receive</th>

            </tr>

            <tr>

                <td>Opening Master Account</td>

                <td>Confirmation of Master Account Details</td>

            </tr>

            <tr>

                <td>Investment with sales charge</td>

                <td>Tax Invoice</td>

            </tr>

            <tr>

                <td>Investment without sales charge</td>

                <td>Confirmation Advice Slip</td>

            </tr>

            <tr>

                <td>Redemption with sales charge</td>

                <td>Tax Invoice</td>

            </tr>

            <tr>

                <td>Redemption without sales charge</td>

                <td>Confirmation Advice Slip</td>

            </tr>

            <tr>

                <td>Switching with sales charge</td>

                <td>Tax Invoice</td>

            </tr>

            <tr>

                <td>Switching without sales charge</td>

                <td>Confirmation Advice Slip</td>

            </tr>

            <tr>

                <td>Transfer</td>

                <td>Transfer Advice and Tax Invoice</td>

            </tr>

        </table>

        <div class="narrow-copy">

            <p><b>Statements</b></p>

            <p>We provide investors with Interim and Annual Funds Report together with the Portfolio Holding Statement. For EPF investors, Portfolio Holding Statement will be provided on a Quarterly basis. The statements include the following:</p>

        </div>

        <div class="a">

            <ul class="text-left font-white">

                <li>
                    <img src="ICONPIC/bubble1.png" />

                    <p class="f20 bold">Portfolio Holding:</p>

                    <p>It summarises the current Unit holding on the last Business Day of that financial year.</p>

                </li>

                <li>
                    <img src="ICONPIC/bubble2.png" />

                    <p class="f20 bold">Transactions Completed During the Period:</p>

                    <p>It provides a detailed description of all transactions that have been completed during the statement period.</p>

                </li>

                <li>
                    <img src="ICONPIC/bubble3.png" />

                    <p class="f20 bold">Financial Reports:</p>

                    <p>The audited annual financial reports will be sent to Unit holders within two months of the financial year-end. In addition, the unaudited interim financial report will be sent to Unit holders within two months of the end of the interim period the Fund cover.</p>

                </li>

            </ul>

        </div>

    </div>

    <div class="content bg-gray risks">

        <h3>Fundamental concerns &amp; considerations</h3>

        <div class="narrow-copy">

            <p><b>The Risks of Investing in Unit Trusts</b></p>

            <p style="display: none;">There may be direct and indirect fees and charges, which may be incurred as part of the cost of investing in a unit trust. When subscribing to the Units, there may be a sales charge incurred. For redeeming the Units, there may be a redemption charge incurred. When investing in a unit trust fund, an investor may also indirectly incur fees and expenses such as management and trustee fees. Hence, investors are advised to consider the fees and charges before investing in a Fund.</p>

            <p>Prior to making an investment, investors should consider the following risk factors in additional to the other information set out in this <a href="Download/Master%20Prospectus/Master%20Prospectus20180503165502.pdf" target="_blank">Master Prospectus</a>.</p>

        </div>

        <a class="text-with-icon font-light-blue" id="accord_risks" href="javascript:;"><span>Learn more</span><img class="plus-minus" src="/ICONPIC/plus-icon.png" /></a>

        <ul class="narrow-copy" id="all_risks">

            <li class="b">

                <div class="special-upper-li font-white">General Risks<img class="round-up-down" src="/ICONPIC/round-down-arrow.png" /></div>

                <div class="special-lower-li">

                    <ul class="general-risk">

                        <li>

                            <div class="upper-li">Country Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Investments of the fund in any countries may be affected by changes in the economic and political climate, restriction on currency repatriation or other developments in the law or regulations of the countries in which the fund invests in. For example, the deteriorating economic condition of such countries may adversely affect the value of the investments undertaken by the fund in those affected countries. This in turn may cause the net asset value of the fund or prices of units to fall.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Manager’s Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>This risk refers to the day-to-day management of the fund by the manager which will impact the performance of the fund. For example, investment decisions undertaken by the manager, as a result of an incorrect view of the market or any non-compliance with internal policies, investment mandate, the deed, relevant law or guidelines due to factors such as human error or weaknesses in operational process and systems, may adversely affect the performance of the fund.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Risk of Non-Compliance<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Non-adherence with laws, rules, regulations, prescribed practices, internal policies and procedures may result in tarnished reputation, limited business opportunities and reduced expansion potential for the management company. Unit holders’ investment goals may also be affected if the fund manager does not adhere to the investment mandate. Compliance unit of the management company, which oversees the entire compliance matters of the management company, will mitigate such risk.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Loan Financing Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>This risk occurs when investors take a loan/financing to finance their investment. The inherent risk of investing with borrowed money includes investors being unable to service the loan repayments. In the event units are used as collateral, an investor may be required to top-up the investors’ existing instalment if the prices of units fall below a certain level due to market conditions. Failing which, the units may be sold at a lower net asset value per unit as compared to the net asset value per unit at the point of purchase towards settling the loan. </p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Returns Are Not Guaranteed Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>There is no guarantee on the investment returns to unit holders. Unlike fixed deposits which carry a specific rate of return, the fund does not provide a fixed rate of return.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Inflation Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>This is the risk that investors’ investment in the unit trust fund may not grow or generate income at a rate that keeps pace with inflation. This would reduce investors’ purchasing power even though the value of the investment in monetary terms has increased.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Liquidity Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Liquidity risk refers to the ease of liquidating an asset depending on the asset’s volume traded in the market. If the fund holds assets that are illiquid, or are difficult to dispose of, the value of the fund will be negatively affected when it has to sell such assets at unfavourable prices.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Future Contract Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>A future is similar to an option, except that with futures, investors must exercise their right to purchase the underlying financial instrument or commodity at the settlement date. Hence, the downside risk is basically unlimited because investors are obligated to fulfill their end of the transaction regardless of how market prices move. A futures contract is an agreement to transact at a later date. Because of this, it is important to sell the contract before the settlement date. That way, investors can avoid having a truckload of commodities delivered to their doorstep on the day of the settlement.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Credit and Default Risk<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Credit risk relates to the creditworthiness of the issuers of the debt instruments and their expected ability to make timely payment of interest and/or principal. Any adverse situations faced by the issuer may impact the value as well as liquidity of the debt instrument. In the case of rated debt instruments, this may lead to a credit <b>rating</b> downgrade. Default risk relates to the risk that an issuer of a debt instrument either defaulting on payments or failing to make payments in a timely manner which will in turn adversely affect the value of the debt instruments. This could adversely affect the value of the fund.</p>

                            </div>

                        </li>

                    </ul>

                </div>

            </li>

            <li class="b">

                <div class="special-upper-li font-white">Specific Risks for Funds Investing in Equities and Equity-Related Securities<img class="round-up-down" src="/ICONPIC/round-down-arrow.png" /></div>

                <div class="special-lower-li">

                    <ul class="specific-risk-equity">

                        <li>

                            <div class="upper-li">Market Risk (AMGT, AQF, ADA, ADAS-I, ADAF-I, ADF, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Market risk refers to the possibility that an investment will lose value because of a general decline in financial markets, due to economic, political and/or other factors, which will result in a decline in the Fund’s NAV.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Particular Stock Risk (AMGT, AQF, ADA, ADAS-I, ADAF-I, ADF, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Prices of a particular stock may fluctuate in response to the circumstances affecting individual companies such as adverse financial performance, news of a possible merger or loss of key personnel of a company. Any adverse price movements of such stock will adversely affect the Fund’s NAV.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Warrant Risk (AMGT, AQF, ADAS-I, ADAF-I, ADF, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Warrants have a limited life, as denoted by the expiry date of each issue. After this date, warrants can no longer be traded or exercised. Hence, the warrants are worthless after their expiry date. It must also be noted that warrants experience time decay (erosion of their time value) throughout their life, and that the rate of this decay accelerates as warrants near expiry.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Negative Return Risk (AMGT, AQF, ADA, ADAS-I, ADAF-I, ADF, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>The Fund will generate a negative return whenever the stock market is bearish. To minimise the negative return, the fund manager will reduce the exposure of equity investment in the Fund.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Reclassification of Shariah Status Risk (ADA, ADAS-I, ADAF-I, ADAK)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>This risk refers to the risk that the currently held Shariah-compliant equities in the Fund may be reclassified as Shariah non-compliant in the periodic review of the equities by the SACSC, the Shariah adviser or the Shariah boards of the relevant Islamic indices. If this occurs, the Manager will take the necessary steps to dispose such equities. There may be opportunity loss to the Fund due to the Fund not being allowed to retain the excess capital gains derived from the disposal of the Shariah non-compliant equities.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Dividend Payment Risk (AQF, ADA, ADAF-I, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Dividend stocks may declare less-than-expected dividend payment. This may happen due to an unfavourable business condition. In this regard, the fund manager will dispose the dividend stocks if the dividend payments are no longer deemed attractive.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Currency Risk (AMGT, AAEJF, ADF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>As the investments of the Fund may be denominated in currencies other than the base currency, any fluctuation in the exchange rate between the base currency and the currencies in which the investments are denominated may have an impact on the value of these investments. Investors should be aware that if the currencies in which the investments are denominated depreciate against the base currency, this will have an adverse effect on the NAV of the Fund in the base currency and vice versa. Investors should note that any gains or losses arising from the fluctuation in the exchange rate may further increase or decrease the returns of the investment.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Country Risk (AMGT, AAEJF, ADF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Investments of the Fund in any countries may be affected by changes in the economic and political climate, restriction on currency repatriation or other developments in the law or regulations of the countries in which the Fund invests in. For example, the deteriorating economic condition of such countries may adversely affect the value of the investments undertaken by the Fund in those affected countries. This in turn may cause the NAV of the Fund or prices of Units to fall.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Derivative Risk (AQF, ADAS-I, ADAF-I, ADF, AAEJF)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>While the Fund does not intend to actively trade in derivatives, the Manager may enter into forward contracts to hedge the Fund’s positions. Unit holders should be aware that there is a risk of higher volatility in the NAV per Unit of the Fund when derivatives or structured products are part of the Fund’s investment assets. Any change in the aforesaid factors would either positively or negatively impact the value of the investment.</p>

                            </div>

                        </li>

                    </ul>

                </div>

            </li>

            <li class="b">

                <div class="special-upper-li font-white">Specific Risks for Funds Investing in Fixed Income Securities<img class="round-up-down" src="/ICONPIC/round-down-arrow.png" /></div>

                <div class="special-lower-li">

                    <ul class="specific-risk-fixed">

                        <li>

                            <div class="upper-li">Interest Rate Risk (AQF, ADA, ADAF-I, ADAK)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Interest rate risk refers to the impact of interest rate changes on the valuation of debt instruments. When interest rates rise, debt instruments prices generally decline and this may lower the market value of the Fund’s investment in debt instruments. The reverse may apply when interest rates fall. In order to mitigate interest rate risk, the Manager will need to manage the debt portfolio by taking into account the coupon rate and time to maturity of the debt instruments.</p>

                            </div>

                        </li>

                        <li>

                            <div class="upper-li">Credit Risk (AQF, ADA, ADAF-I, ADAK)<img class="plus-minus" src="/ICONPIC/plus-icon.png" /></div>

                            <div class="lower-li">

                                <p>Credit risk relates to the creditworthiness of the issuers of the debt instruments and their expected ability to make timely payment of interest and/or principal. Any adverse situations faced by the issuer may impact the value as well as liquidity of the debt instrument. In the case of rated debt instruments, this may lead to a credit <b>rating</b> downgrade.</p>

                            </div>

                        </li>

                    </ul>

                </div>

            </li>

        </ul>

        <div class="narrow-copy">

            <p><b>Charges, Fees and Expenses</b></p>

            <p>There may be direct and indirect fees and charges, which may be incurred as part of the cost of investing in a unit trust. When subscribing to the Units, there may be a sales charge incurred. For redeeming the Units, there may be a redemption charge incurred. When investing in a unit trust fund, an investor may also indirectly incur fees and expenses such as management and trustee fees. Hence, investors are advised to consider the fees and charges before investing in a Fund.</p>



            <p><b>Switching Fee</b></p>

            <p>You may switch out of the Fund into another fund managed by the Manager. Units will be redeemed at the buying price, and invested into the new fund at the NAV. Three free switches per account are allowed in each calendar year. Subsequent switches will be charged a 1% of redemption moneys for administrative purpose.</p>



            <p><b>Transfer Fee</b></p>

            <p>A fee of MYR5.00 will be charged for each transfer.</p>



            <%--<p><b>Goods and Services Tax (GST)</b></p>

            <p>With effect from 1 April 2015, a Unit Holder or the Fund (as the case may be) shall pay a GST at the rate of 6% which may be imposed by the relevant authority in respect of any fees, charges or expenses payable by virtue of the Deed for the respective Fund. Investors should be aware that such fees, charges and expenses referred to or quoted in this <a href="Download/Master%20Prospectus/Master%20Prospectus20180503165502.pdf" target="_blank">Master Prospectus</a> and the Deed are referred to or quoted as being exclusive of GST.</p>--%>

        </div>

    </div>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
