﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User.Master" AutoEventWireup="true" CodeBehind="downloads.aspx.cs" Inherits="AdminApex.Downloads" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="popup-tnc">
	<div class="popup-tnc-bg"></div>
	<div class="popup-tnc-box">
		<h3>To proceed, please read and agree to our terms.</h3>
		<div class="popup-tnc-box-copy">
			<p>This Website is owned and managed by Astute Fund Management Berhad ("AFMB"). We advise you to read these Terms and Conditions of Use ("Terms") carefully before using the Website. By accessing and/or using the Website you are deemed to accept and be bound by these Terms, therefore if you do not wish to be bound by these Terms you should not access or use the Website. This Terms a binding contract between you and AFMB. It governs your use of this Website and all products, content and information available through this Website. By using or accessing this Website, you accept and agree to be bound by these Terms.</p>
			<p>Further, AFMB is responsible for the issuance, circulation or dissemination of the electronic prospectus, electronic supplementary prospectus (if any) and electronic application form. AFMB may modify, suspend, discontinue, or restrict the use and availability of any portion of this Website at any time, without notice or liability. Your use of this Website is governed by the version of the Terms in effect on the date this Website is accessed by you. We reserve the right to withdraw and/or amend services or content on the Website without notice and we accept no liability, no matter how that may be caused, arising from us doing so and you will be deemed to have agreed to the Terms, as amended.</p>
			<p>The content of this Website does not constitute as an offer to sell or a solicitation of any offer to buy any of the investment products contained in this Website by anyone in any other jurisdiction. The investment products contained in this Website are made available in Malaysia and to any person in Malaysia only. The information contained in this Website is for general information only and it does not take into account to any particular investor's circumstances. All information, statements and/or descriptions available are intended solely for the use by Malaysian residents only and any currency references shall be in Ringgit Malaysia unless otherwise specified. Any investment in unit trusts, and/or other investment products is subject to investment risks, including the possible loss of the principle amount invested. The value of the units and the income from them may fall as well as rise. Past performance figures are not necessarily indicative of future performance of the unit trust.</p>

			<h4>LIMITED LICENCE AND RESTRICTIONS ON USE</h4>
			<p>AFMB permits you to use and access the Website on a personal, non-commercial basis. You may not copy or make commercial use of the Website or any of the content including, but not limited to, information, imagery or data from, or underlying, the Website without obtaining our express written permission to do so. AFMB reserves all rights not expressly granted in these Terms. Except as otherwise stated in these Terms, <b>you may not:</b></p>
			<ul>
				<li>Modify, copy, distribute, transmit, post, display, perform, reproduce, publish, broadcast, license, create derivative works from, transfer, sell, or exploit any reports, data, information, content, software, products, services, or other materials on, generated by or obtained from this Website, whether through links or otherwise (collectively, "Materials");</li>
				<li>Redeliver any page, text, image, or Materials on this Website using "framing" or other technology;</li>
				<li>Engage in any conduct that could damage, disable, or overburden (i) this Website, (ii) any Materials or services provided through this Website, or (iii) any systems, networks, servers, or accounts related to this Website, including without limitation, using devices or software that provide repeated automated access to this Website, other than those made generally available by AFMB;</li>
				<li>Probe, scan, or test the vulnerability of any Materials, services, systems, networks, servers, or accounts related to this Website or attempt to gain unauthorised access to Materials, services, systems, networks, servers, or accounts connected or associated with this Website through hacking, password or data mining, or any other means of circumventing any access-limiting, user authentication or security device of any Materials, services, systems, networks, servers, or accounts related to this Website;</li>
				<li>Remove copyright, trade mark or other intellectual property notices on any downloaded or printed document, or otherwise act in a way to cause or risk causing infringement, a weakening of, or damage to or our brand, intellectual property or business;</li>
				<li>Include the term "Astute Fund Management Berhad," and “AFMB” or any AFMB trademark or executive's name, or any variation of the foregoing, as a meta-tag, hidden textual element, or any other indicator that creates an impression of affiliation, sponsorship, or endorsement by AFMB; </li>
				<li>Make available or replicate any content, information, imagery or data from, or underlying, the Website and use it in such a way as to cause or risk causing confusion or an association as between you or your activities (or a third party or their activities) and us and our activities, including but not limited to phishing; and</li>
				<li>Allowed to use the material or act in a manner so as to associate or risk associating us with any content which is or might be harmful, including without limitation material which is offensive, threatening, obscene, abusive, discriminatory, defamatory, in breach of confidence, in breach of privacy, infringes any intellectual property rights or other rights of any third party or otherwise does not comply with all applicable laws and regulations.</li>
			</ul>

			<h4>LINKING CONDITION</h4>
			<p>You may not link to this Website unless you have our prior written consent.</p>
			<p><b>WE ARE NOT RESPONSIBLE FOR ANY THIRD-PARTY, THEIR PRODUCTS OR SERVICES, THEIR WEBSITE, OR ANY CONTENT MADE AVAILABLE THROUGH SUCH THIRD-PARTY SITES, NOR DO WE MAKE ANY WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, REGARDING THIRD PARTY CONTENT (OR ITS ACCURACY) ON ANY THIRD-PARTY SITES, AND WE SHALL HAVE NO LIABILITY OF ANY NATURE WHATSOEVER IN RELATION TO ANY OF THE FOREGOING.</b></p>

			<h4>IMPORTANT LEGAL INFORMATION</h4>
			<p>Although we have taken the necessary steps to ensure the system security and integrity, we would advise that by performing online transactions and activities, you are exposed to the inherent risks of online transactions and you agree to assume such risk. You should be aware that the inherent risk list is not exhaustive; including but not limited to identity theft, confidentiality of data which may be illegally intercepted by third party, unauthorised data access by third party, fraudulent emails or fraudulent acts.</p>
			<p>No solicitations. Nothing on this Website shall be considered a solicitation to buy or an offer to sell, or a recommendation for, a security, or any other product or service, to any person in any jurisdiction where such solicitation, offer, recommendation, purchase or sale would be unlawful under the laws of that jurisdiction. If you are in doubt about any of the selling restrictions, please consult your stock broker, lawyer, accountant, bank manager, or other professional adviser.</p>
			<p>The investment products contained in this Website are strictly intended to be made available in Malaysia or to any person in Malaysia only who is residing in Malaysia including the permanent resident, non-permanent resident and citizens of Malaysia.</p>
			<p>All application requests for transactions shall only be made either through conventional application (by walk in or through our unit trust consultants). </p>
			<p>You may invest in unit trusts by the conventional way and walk in to our business office at Astute Fund Management Berhad, 3rd Floor, Menara MBSB, 46 Jalan Dungun, Damansara Heights, 50490 Kuala Lumpur or submit your applications through our unit trust consultants.</p>
			<p>Failure by AFMB to enforce any provision(s) of these Terms shall not be construed as a waiver of any provision or right. This Website is controlled and operated by AFMB from its office within Malaysia. The laws of the Malaysia govern these Terms.</p>
			<p><b>Please carefully consider the fund's investment objectives, risks, fees, charges and expenses before investing. For this and other information, call or write to AFMB for a free prospectus, or view one online. Read it carefully before you invest or send money.</b></p>
			<p><b>Applicant should be 18 years old and above at the date of the application.</b></p>

			<h4>PROSPECTUS, SUPPLEMENTARY PROSPECTUS, APPLICATION FORM AND OTHERS</h4>
			<p>We recommend that you read and understand the contents of the respective fund's prospectus/supplemental prospectus (if any), product highlights sheet (“PHS”) or information memorandum / replacement information memorandum before investing in any of the funds. A copy of the funds' prospectus / supplemental prospectus (if any), PHS or information memorandum / replacement information memorandum featured in this Website has been registered or lodged with the Securities Commission Malaysia.</p>
			<p>Copies of the prospectus/supplemental prospectus (if any), PHS or information memorandum / replacement information memorandum are available at our representative office at Astute Fund Management Berhad, 3rd Floor, Menara MBSB, 46 Jalan Dungun, Damansara Heights, 50490 Kuala Lumpur.</p>
			<p>You acknowledge that any information that falls outside the designated area of the prospectus in this Website does not form part of the electronic prospectus and that the unit trusts are offered solely on the basis of the information contained in the electronic prospectus.</p>
			<p>For Fund(s) with a Prescribed Period,</p>
			<ol>
				<li>Please refer to the respective Prospectus(es) for the closing date of the application period;</li>
				<li>No units of the Fund(s) will be issued on the basis of the electronic Prospectus(es) after the closing date.</li>
				<li>The electronic Prospectus(es) is made available for purely informational and archiving purposes after the closing date.</li>
			</ol>

			<h4>DATA, INFORMATION, AND CONTENT</h4>
			<p>The Materials on this Website are for information, education, and non-commercial purposes only. No investment recommendations or professional advice. This Website is not intended to provide any tax, legal, insurance, financial or investment advice, and nothing on the Website should be construed as a recommendation to acquire or dispose of any investment or security, or to engage in any investment strategy or transaction. You alone are solely responsible for determining whether any investment, security or strategy or any other product or service, is appropriate or suitable for you based on your investment objectives and personal and financial situation. You should consult an attorney or tax professional regarding your specific legal or tax situation.</p>

			<h4>INTERNATIONAL USE</h4>
			<p>Because of the global nature of the Internet, you agree to comply with all local rules with respect to your account and your online conduct, including all laws, rules, codes, and regulations of the country in which you reside and the country from which you access this Website, including without limitation, all laws, rules, codes, regulations, decrees, acts, orders, directives, legislation, bills, and statutes pertaining to tax, contracts, intellectual property, securities, e-commerce, banking, technology, computers, fraud, and privacy. In addition, you agree to comply with all applicable laws, rules, codes, and regulations regarding the transmission of technical data exported from the Malaysia.</p>
			<p>Each investment product and service referred to on this Website is intended to be made available only to MALAYSIAN residents. This Website will not be considered a solicitation for or offering of any investment product or service to any person in any jurisdiction where such solicitation or offering would be illegal.</p>

			<h4>THIRD-PARTY CONTENT</h4>
			<p>Data and other materials appearing on this Website that are provided by third parties are believed by AFMB to be obtained from reliable sources, but AFMB cannot guarantee their accuracy, timeliness, completeness, or suitability for use. AFMB is not responsible for, and does not prepare, edit, or endorse, the content, advertising, products, or other materials on or available from any Website owned or operated by a third party that is linked to this Website via hyperlink. The fact that AFMB has provided a link to a third party's Website does not constitute an implicit or explicit endorsement, authorisation, sponsorship, or affiliation by AFMB with respect to such Website, its owners, providers, or services. You will use any such third-party content at your own risk.</p>

			<h4>TIMELINESS OF CONTENT</h4>
			<p>All content on this Website is presented only as of the date published or indicated, and may be superseded by subsequent market events or for other reasons. In addition, you are responsible for setting the cache settings on your browser to ensure you are receiving the most recent data.</p>

			<h4>TERMINATION</h4>
			<p>You acknowledge and agree that AFMB may restrict, suspend or terminate the Terms or your access to, and use, of the all or any part of Website, including any links to third-party sites, at any time, with or without cause.</p>

			<h4>WARRANTY DISCLAIMERS</h4>
			<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
			<p>YOUR USE OF THIS WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE FULL EXTENT PERMITTED UNDER APPLICABLE LAW, AFMB AND ITS AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS,CONSULTANTS, LICENSORS, AND ANY THIRD-PARTY INFORMATION PROVIDERS EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, NONINFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ALL WARRANTIES REGARDING SECURITY, CURRENCY, CORRECTNESS, QUALITY, ACCURACY, COMPLETENESS, RELIABILITY, PERFORMANCE, TIMELINESS, OR CONTINUED AVAILABILITY, WITH RESPECT TO (I) THE WEBSITE; (II) ANY MATERIALS, PRODUCTS, OR SERVICES AVAILABLE ON OR THROUGH THE WEBSITE; (III) USE OF THE WEBSITE, MATERIALS, PRODUCTS, OR SERVICES; AND (IV) THE RESULTS OF THE USE OF THE WEBSITE, MATERIALS, PRODUCTS, OR SERVICES.</p>
			<p>FURTHER, AFMB AND ITS AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, CONSULTANTS, LICENSORS, AND ANY THIRD-PARTY INFORMATION PROVIDERS EXPRESSLY DISCLAIM ALL WARRANTIES WITH RESPECT TO ANY DELAYS OR ERRORS IN THE TRANSMISSION OR DELIVERY OF THE MATERIALS, PRODUCTS, OR SERVICES.</p>
			<p>EXCEPT AS PROVIDED BY LAW, NEITHER AFMB NOR ITS THIRD-PARTY INFORMATION PROVIDERS HAS ANY RESPONSIBILITY TO MAINTAIN THE MATERIALS, PRODUCTS, OR SERVICES OFFERED ON THE WEBSITE OR TO SUPPLY CORRECTIONS, UPDATES, OR RELEASES FOR THE SAME.</p>
			<p>TO THE EXTENT ANY JURISDICTION DOES NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY HAVE OTHER RIGHTS, WHICH VARY FROM JURISDICTION TO JURISDICTION.</p>

			<h4>LIABILITY AND INDEMNITY</h4>
			<p>YOU AGREE THAT UNDER NO CIRCUMSTANCES WILL THE AFMB PARTIES BE LIABLE FOR ANY DAMAGES, WHETHER DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR EXEMPLARY DAMAGES (COLLECTIVELY, THE "EXCLUDED DAMAGES"), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF OR INABILITY TO USE THIS WEBSITE FURTHER, THE AFMB PARTIES WILL NOT BE RESPONSIBLE FOR YOUR FAILURE TO COMPLY WITH THESE TERMS OR WITH APPLICABLE FEDERAL, STATE AND LOCAL LAWS. </p>
			<p>THESE LIMITATIONS OF LIABILITY WILL APPLY, EXCEPT WHERE IT RELATES TO INFORMATION STATED IN INFORMATION MEMORANDA REGARDLESS OF: (I) ANY NEGLIGENCE OR GROSS NEGLIGENCE OF ANY AFMB PARTY OR (II) WHETHER THE LIABILITY SOUNDS IN NEGLIGENCE, STRICT LIABILITY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER THEORY OF LEGAL LIABILITY; AND WILL REMAIN IN EFFECT EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE</p>
			<p>You agree to indemnify, defend, and hold harmless AFMB, its affiliates, and each of its and their officers, directors, employees, consultants and agents, from and against all claims, demands, liabilities, damages, losses, or expenses, including attorney's fees and costs, arising out of or related to your improper access to or use of this Website, or any violation by you of these Terms.	</p>

			<h4>SEVERABILITY</h4>
			<p>If any provision of these Terms is deemed unlawful, void, or unenforceable, then that provision will be deemed severable from these Terms and will not affect the validity and enforceability of the remaining provisions. These Terms represent the entire agreement between you and AFMB relating to the subject matter herein.</p>

			<h4>CONTACT US</h4>
			<p>If you have any other questions or would like an alternative method of reaching us, please click <a href="http://staging.apexis.com.my/contact" target="_blank">Contact Us</a>.</p>
		</div>
		<div class="popup-tnc-cta">
			<a href="javascript:;" class="rounded-btn bg-gray font-black popup-agree">I agree</a>
		</div>
	</div>
    </div>
<div class="resources">
        <div class="content pages">
            <div class="about header bg-white">
                <div class="header-content wide-image">
                    <!-- <img src="http://staging.apexis.com.my/img/headers/APEX_Header_news.jpg"/> -->
                    <div class="header-copy">
                        <%--<h2>20 years strong, the APEX team is shaped for every investor’s financial success.</h2>--%>
                        <h2>DISTILLING THE BEST IDEAS.</h2>
                        <!-- <img class="apex-line" src="http://staging.apexis.com.my/img/apex-line.png"/> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="content narrow">
            <h3 class="inner-content">Downloads</h3>
        </div>
        <div class="subnav bg-gray">
            <div class="bg-gray-container subnav-wrapper">
                <div class="special_select desktop-hidden">
                    <ul>
                        <li>
                            <a href="javascript:;" id="mobile_page"></a>
                            <img class="" src="/ICONPIC/down-arrow.png" />
                        </li>
                    </ul>
                </div>
                <div class="inner-content">
                    <ul>
                        <li><a class="active" page="master_prospectus" href="javascript:;">Master Prospectus</a></li>
                        <li><a class="" page="supplemental_master_prospectus" href="javascript:;">Supplemental Master Prospectus</a></li>
                        <li><a class="" page="forms" href="javascript:;">Forms</a></li>
                        <li><a class="" page="resources" href="javascript:;">Resources</a></li>
                    </ul>
                    <div class="subnav active-bar"></div>
                </div>
            </div>
        </div>
        <div class="content narrow subpages">
            <div class="inner-content subnav-pages erm" id="master_prospectus" runat="server" clientidmode="Static">
                <p>Note : You will need Adobe Acrobat Reader in order to view or print the electronic Master Prospectus. If you do not have it, you can download it from <a href="https://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader</a> which is free of charge.</p>
                <table style="width: 100%;">
                    <tbody id="mptable" runat="server" clientidmode="static">

                    </tbody>
                </table>
            </div>
            <div class="inner-content subnav-pages erm" id="supplemental_master_prospectus" runat="server" clientidmode="Static">
                <p>Note : You will need Adobe Acrobat Reader in order to view or print the electronic Supplemental Master Prospectus. If you do not have it, you can download it from <a href="https://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader</a> which is free of charge.</p>
                <table style="width: 100%;">
                    <tbody id="smptable" runat="server" clientidmode="static">

                    </tbody>
                </table>
            </div>

            <div class="inner-content subnav-pages erm" id="forms" runat="server" clientidmode="Static">
                <p>Note : You will need Adobe Acrobat Reader in order to view or print the electronic application forms. If you do not have it, you can download it from <a href="https://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader</a> which is free of charge.</p>
                <table style="width: 100%;">
                    <tbody id="tableForms" runat="server" clientidmode="static">

                    </tbody>
                </table>
            </div>


            <div class="inner-content subnav-pages erm" id="resources">
                <p>Note : You will need Adobe Acrobat Reader in order to view or print the electronic resources. If you do not have it, you can download it from <a href="https://get.adobe.com/reader/" target="_blank">Adobe Acrobat Reader</a> which is free of charge.</p>
                <table id="dataTable" class="table table-hover display pb-30" style="border-color: blue">
                    <thead>
                        <tr>
                            <th>Fund Name</th>
                            <th>Product Highlights Sheet</th>
                            <th>Fund Fact Sheet</th>
                            <th>Brochure</th>
                            <th>Interim Reports</th>
                            <th>Annual Reports</th>
                            <th>Information Memorandum</th>
                        </tr>
                    </thead>
                    <tbody id="fundfile" runat="server" clientidmode="static">
                        <tr>
                            <th>Fund Name</th>
                            <th>Product Highlights Sheet</th>
                            <th>Fund Fact Sheet</th>
                            <th>Brochure</th>
                            <th>Interim Reports</th>
                            <th>Annual Reports</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="scripts" runat="server">
        <script>
        $(document).ready(function () {
            var numitems = $("#forms li").length;

            $("ul#forms").css("column-count", Math.round(numitems / 2));
        });
    </script>
</asp:Content>
